

*{
    @font-face {
  font-family: sf_pro;
  src: url('/public/font/sf_pro.ttf')format('truetype');
}
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow-x: hidden;
  overflow-y: auto;
  font-family: arial !important;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #fffcaf, #ffe7a7, #ffd4aa, #ffc3b2, #ffb6bc);
}



/*/---------------------------------------------------//*/
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}

.card .card-body.sumari {
    padding: 1rem 1rem !important;
}

.top-ico {
    margin-top: 0.5em !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

#initial1 .modal-content{
height: auto;
min-height: 440px;
background-color: #ffffff !important;

}

#initial2 .modal-content{
height: auto;
background-color: #ffffff !important;
min-height: 440px;
}

#initial3 .modal-content{
min-height: 440px;
background-color: #ffffff !important;
}

#img-initial1{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#img-initial2{
  width: 35%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#img-initial3{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#btn-initial1{
  border-radius: 6px;
  margin-top: 1em;
}

#btn-initial2{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#btn-initial3{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mgku-1{
  margin-bottom: 1em;
}

.content-wrapper{
  padding: 1rem 1.5rem !important;
}

.page-header{
  margin: 0 0 1rem 0 !important;
}

.btn.btn-fw {
    min-width: 115px !important;
}

.divbutton{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
}

.card .card-body {
    padding: 2.5rem 2.5rem !important;
}

#icon_com{
  width: 58%;
  height: auto;
  margin-top: 5%;
}

.judulcomsetup{
  margin-bottom: 0.2em;
}

.preper-publish{
padding: 2rem 5rem 0;
}

.melengkung10px{
  border-radius: 10px !important;
}

.melengkung6px{
  border-radius: 6px !important;
}


.detilhref{
  border-radius: 20px !important;
  width: 30px !important;
  height: 30px !important;
}

.mdi.matadetail{
    position: relative !important;
    top: 7px !important;
}

.round-label{
  min-width: 80px;
  border-radius: 12px;
  color: white;
}


.dash-img-profil{
    height: 35%;
    width: 35%;
    min-height: 90px;
    min-width: 90px;
}

.bg-hijau{
background-color: #cbe8b9;
}

.bg-merah{
  background-color: #ffd6d6;
}

.bg-kuning{
  background-color: #fcf5b0;
}

.bg-abu{
  background-color: #cacaca;
}

.bg-biru{
background-color: #beebe9;
}
.bg-tosca{
background-color: #50b7b9;
}

.modal_ajax .modal-content{
  background-color: #fff0;
  border: none;
  color: white;
}

#nav_mobile_help{
  display: none;
}

#nav_web_help{
  display: block;
}

#profil_admin_dash{
  margin-top: 5%;
  width: 120px;
  height: 120px;
}

#mdl-footer-initialfitur{
  text-align: center !important;
  border-top: none !important;
  display: block;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


#mdl-img-click .modal-header {
  border: none;
  background-color: #f2edf300;
  padding: none;
}
#mdl-img-click .modal-content {
  border: none;
  background-color: #f2edf300;
}


.bg-greymuda{
background-color: #f1f1f1;
}

.btn-kecil{
  width: 30px !important;
  height: 30px !important;
}


#filter-subs{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 2em 0em 2em !important;
}

#btn-filter-subs-date{
  margin-top: 1.5em !important;
}

#set-padding{
  padding: 0 10% 0 10%;
}


.borderan{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 0em 0em 1em !important;
margin-left: 0.2em;
}

.borderan-pay{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 0em 0.5em 1em !important;
margin-left: 0.2em;
}


tags{ 
    min-width:400px;
    max-width:600px; 
    margin: 0em 0em;
}


.disabled{ 
  tags{ display:none; 
    & + input, & + textarea{ 
      display:inline-block !important; 
      width:350px; 
      padding:.5em; 
      border:1px inset; 
    }
  }
}

tags.tagify.form-control{
margin-top: 0em !important; 
height: 100%;
min-height: 47px;
}


.detil_subs{
  width: 30px !important;
  height: 30px !important;
}


#btn-filter-date{
  margin-bottom: 1.5em;
  border-radius: 12px;
}


.putih.card-header{
  background-color: white !important;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 63px;
}

.putih.card-footer{
  background-color: white !important;
  border: none;
}


.btn-ijo{
  background: #299643;
  color: white;
  border-radius: 10px;
  font-weight: lighter !important;
  border: none;
}


.btn-ijo:hover{
  background: linear-gradient(to right, #a7f97c, #43b95f);
}


.mt-01{
  margin-top: 1em;
}

.mb-01{
  margin-bottom: 1em;
}

.mb-1half{
margin-bottom: 1.5em;
}

.tebal{
  font-weight: bold;
}

.btn-teal{
  background-color: #0E5F75;
  border-radius: 6px;
  color: white;
}

.btn-birumuda{
  background: linear-gradient(117.13deg, #96DEDA 0%, #50C9C3 56.6%);
  border-radius: 6px;
  border: none;
  color: white;
}


.input-abu{
  border-radius: 10px;
  background-color: #efefef;
}

select.form-control.input-abu{
outline: none !important;
}

.status_aktif{
  background-color: 
}

.btn_reset_dtable{
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    color: grey !important;
}

.btn_reset_dtable:hover{
    background-color: #96DEDA !important;
    color: white !important;

}

.sidebar .nav .nav-item {
  padding: 0 1.5rem !important;
}

.card-member{
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.stretch-card > .card.member {
    width: 100%;
    height: auto;
    min-height: 167px;
    min-width: 270px;
}

.th-center{
  text-align: center !important;
}

.card .card-body.member {
    padding: 1rem 1rem !important;
}

.grid-margin.card-member{
margin-bottom: 0em !important;
}

.card .card-body .card-member {
    padding: 1.5rem 1.5rem !important;
}

.logo-membership{
  width: 55px;
  height: 55px;
  margin-bottom: 5%;
}



/*//IMAGE UPLOAD BUNDER - FILE BROWSER*/
.img-upload-profil{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 1em;
  margin-bottom: 10%;
}

.profile-pic {
    max-width: 128px;
    max-height: 128px;
    width: 100%;
    height: 100%;
    display: block;
}

.file-upload {
    display: none;
}

.detail_member{
  padding-left: 15%;
  padding-right: 15%;
}

.bunder-ring {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border: 8px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;

}

.img_file_bayar_subs{
    background: #f1f1f1;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    text-align: center;
    border: none;
    margin-bottom: 1em;
}

.icon-req-member{
  width: 60px;
  height: 60px;
}

.bunder-ring2 {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 5em;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border: 8px solid #efefef;
    position: absolute;
    top: 72px;
      margin-left: auto;
  margin-right: auto;
    text-align: center;
}
img .profile-pic {
    max-width: 100%;
    height: auto;
}
.p-image {
margin-top: 3em;
left: 60%;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
position: relative;
}

/*//edit community profil*/
.p-image.editcom {
margin-top: 3.5em;
left: 0%;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
position: relative;
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*END-FILE IMAGE UPLOAD*/



.circle.editprofil{
    border-radius: 1000px !important;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
}

.p-image.editprofil {
    margin-top: -2em;
    left: 80%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: relative;
}

.img-upload-profil.editprofil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 5%;
}


.cfblue{
  color : #0FB1B5;
}


.up_acc_file{
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid #dadada;
  border-style: dashed;
  width: 100%;
  min-height: 110px;
}

.p-image.accmember {
    margin-bottom: 0.5em;
    margin-top: 1em !important;
    color: #666666;
    left: 0px !important;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
/*    position: relative;*/
}

#view_img_member{
  margin-top: 1em;
  height: 85px;
  width: auto;
  border-radius: 10px;
  display: none;
}

#btn_showpass_accmember{
  background-color: #efefef; 
  border-radius: 0px 10px 10px 0px;     
  padding: 15px 10px 10px 10px;
}




/*.logo_komunitas{
  width: 30px !important;
  height: 30px !important;
}
*/
.modal-footer.changepass{
  border: none;
    margin-left: 10%;
    margin-right: 10%;
  margin-bottom: 5%;
}


#img_changepass{
  width: 70px;
  height: 70px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#img_signout_admin{
  width: 90px;
  height: 90px;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.btn-tosca{
background: linear-gradient(125.96deg, #96DEDA 0%, #50C9C3 56.6%);
color: white;
min-width: 15%;
border-radius: 10px;
border: none;
}

.btn-oren{
  background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
  color: white;
  border-radius: 10px;
}

.cdgrey{
  color: #656565;
}

.cgrey{
  color: #4F4F4F;
}

.cgrey-mid{
  color: #777777;
}

.clight{
  color: #BDBDBD !important;
}

.cteal{
  color: #0E5F75;
}

.cteal2{
  color: #4596ad;
}

.coren{
  color: #FF9A44;
}

.cgrey1{
  color: #828282;
}

.cgrey2{
  color: #8c8c8c;
}

.cblue{
color: #0FB1B5;
}

.cred{
  color: red;
}

.s18{
  font-size: 16px;
}

.s16{
  font-size: 16px;
}

.s15{
  font-size: 15px;
}

.s12{
  font-size: 12px;
}

.s13{
  font-size: 13px;
}

.s14{
  font-size: 14px;
}
.s19{
  font-size: 19px;
}

.s20{
  font-size: 20px;
}

.s25{
  font-size: 25px;
}

.s30{
  font-size: 30px;
}
.s32{
  font-size: 32px;
}
.s35{
  font-size: 35px;
}


/*SUBCRIBER MANAGEMEN TAB */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
border: none;
    margin: 0px;
    position: relative;
    left: 78%;
}

/*//member*/
.tabbable-line > .nav-tabs.member{
border: none;
    margin: 0px;
    position: relative;
    left: 64%;
}

.tabbable-line > .nav-tabs.member > li {
  margin-right: 5px;
  text-align: center;
  min-width: 174px;
}


.tabbable-line > .nav-tabs > li {
  margin-right: 5px;
  text-align: center;
  min-width: 100px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 100px;
  text-align: center;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 100px;
    text-align: center;
}

/*member*/
.tabbable-line > .nav-tabs.member > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 174px;
    text-align: center;
}



.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}


.modal-content.filtersubs{
min-height: 407px;
height: auto;
}

/*///// NAV FILTER //////////*/

.nav-tabs.filter{
  width: 100% !important;
  padding: 0px 12px;
  border-bottom: none;
}

.nav-tabs .nav-link.disabled {
  min-width: 50%;
    color: #BDBDBD !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #018c85 !important;
    background-color: transparent;
    border-color: transparent transparent #4F4F4F;
    border-bottom: 2.5px solid !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 2px solid !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #BDBDBD;
    border-color: #BDBDBD;
    font-size: 14px;
    text-align: center !important;
}
/*END-NAV*/