
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: arial !important;
}


*{
  font-family: 'SF Pro Display Regular' !important;
}

@font-face {
    font-family: "SF Pro Display Regular";
    src: url("/font/sf_pro.ttf")format("ttf");
    font-weight: normal;
    font-style: normal;
}


body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #fffcaf, #ffe7a7, #ffd4aa, #ffc3b2, #ffb6bc);
}



/*/---------------------------------------------------//*/
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}

.card .card-body.sumari {
    padding: 1rem 1rem !important;
}

.top-ico {
    margin-top: 0.5em !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

#initial1 .modal-content{
height: auto;
min-height: 440px;
background-color: #ffffff !important;

}

#initial2 .modal-content{
height: auto;
background-color: #ffffff !important;
min-height: 440px;
}

#initial3 .modal-content{
min-height: 440px;
background-color: #ffffff !important;
}

#img-initial1{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#img-initial2{
  width: 35%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#img-initial3{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#btn-initial1{
  border-radius: 6px;
  margin-top: 1em;
}

#btn-initial2{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#btn-initial3{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mgku-1{
  margin-bottom: 1em;
}

.content-wrapper{
  padding: 1rem 1.5rem !important;
}

.page-header{
  margin: 0 0 1rem 0 !important;
}

.btn.btn-fw {
    min-width: 115px !important;
}

.divbutton{
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: right;
}

.card .card-body {
    padding: 2.5rem 2.5rem !important;
}

#icon_com{
  width: 58%;
  height: auto;
  margin-top: 5%;
}

.judulcomsetup{
  margin-bottom: 0.2em;
  font-weight: bold;
}

.preper-publish{
padding: 2rem 5rem 0;
}

.btn-ready-card{
background: linear-gradient(106deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 15px;
font-size: 0.65rem !important;

}

.bg-gradient-blue{
background: linear-gradient(106.53deg, #91e4e0 0%, #80d8d4 56.6%);
}

.melengkung15px{
  border-radius: 15px !important;
}

.melengkung10px{
  border-radius: 10px !important;
}

.melengkung8px{
  border-radius: 8px !important;
}


.melengkung6px{
  border-radius: 6px !important;
}


.detilhref{
  border-radius: 20px !important;
  width: 30px !important;
  height: 30px !important;
}

.mdi.matadetail{
    position: relative !important;
    top: 7px !important;
}

.round-label{
  min-width: 80px;
  border-radius: 12px;
  color: white;
}


.dash-img-profil{
    height: 90px;
    width: 90px;
}

.label-oren{
  background: linear-gradient(106deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 10px;
}

.bg-hijau{
background-color: #cbe8b9;
}

.bg-ijo{
 background: linear-gradient(106deg, #43b95f -2.66%, #b3e273 102.89%);
border: none;
}

.bg-merah{
  background-color: #ffd6d6;
}

.bg-kuning{
  background-color: #fcf5b0;
}

.bg-abu{
  background-color: #cacaca;
}

.bg-biru{
background-color: #beebe9;
}
.bg-tosca{
background-color: #50b7b9;
}

/* .modal.modal_ajax{
  background: radial-gradient(#ffffffd1, #118655b0);
} */


.modal.modal_ajax{
  background: radial-gradient(#ffffff7a, #caf7ff45);
}

.modal_ajax .modal-content{
  background-color: #fff0 !important;
  border: none;
  color: white;
}
.modal-content {
    background-color: #ffffff !important;
    border: none;
}

#nav_mobile_help{
  display: none;
}

#nav_web_help{
  display: block;
}

#profil_admin_dash{
  margin-top: 5%;
  width: 95px;
  height: 95px;
}

#mdl-footer-initialfitur{
  text-align: center !important;
  border-top: none !important;
  display: block;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.btncomset{
    width: 100px;
    border-radius: 40px !important;
}

#mdl-img-click .modal-header {
  border: none;
  background-color: #f2edf300;
  padding: none;
}
#mdl-img-click .modal-content {
  border: none;
  background-color: #f2edf300;
}


.bg-greymuda{
background-color: #f1f1f1;
}

.btn-kecil{
  width: 30px !important;
  height: 30px !important;
}


#filter-subs{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 2em 0em 2em !important;
}

#btn-filter-subs-date{
  margin-top: 1.5em !important;
}

#set-padding{
  padding: 0 10% 0 10%;
}


.borderan{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 0em 0em 1em !important;
margin-left: 0.2em;
}

.borderan-pay{
width:100% !important;
height: auto !important;
border-radius: 12px !important;
border: 1px solid #cccccc !important;
padding: 1em 0em 0.5em 1em !important;
margin-left: 0.2em;
}


tags{
    min-width:400px;
    max-width:600px;
    margin: 0em 0em;
}




.detil_subs{
  width: 30px !important;
  height: 30px !important;
}


#btn-filter-date{
  margin-bottom: 1.5em;
  border-radius: 12px;
}


.putih.card-header{
  background-color: white !important;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 63px;
}

.putih.card-footer{
  background-color: white !important;
  border: none;
}

#md_all_aktifkan_module .modal-dialog{
width: 800px;
}



.btn-ijo{
  background: #299643;
  color: white;
  border-radius: 10px;
  font-weight: lighter !important;
  border: none;
}

.btn-gradient-ijo{
background: linear-gradient(117.13deg, #22bf6f 0%, #6adc6a 56.6%);
color: white;
  border-radius: 10px;
  font-weight: lighster !important;
  border: none;
  min-width: 75px;;
}


.btn-ijo:hover{
  background: linear-gradient(to right, #a7f97c, #43b95f);
}


.mt-01{
  margin-top: 1em;
}

.mb-01{
  margin-bottom: 1em;
}

.mb-1half{
margin-bottom: 1.5em;
}

.tebal{
  font-weight: bold;
}

.btn-teal{
  background-color: #0E5F75;
  border-radius: 6px;
  color: white;
}

.btn-birumuda{
  background: linear-gradient(117.13deg, #96DEDA 0%, #50C9C3 56.6%);
  border-radius: 6px;
  border: none;
  color: white;
}


.input-abu{
  border-radius: 10px;
  background-color: #efefef;
}

select.form-control.input-abu{
outline: none !important;
}


.btn_reset_dtable{
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    color: grey !important;
}

.btn_reset_dtable:hover{
    background-color: #96DEDA !important;
    color: white !important;

}

.sidebar .nav .nav-item {
  padding: 0 1.5rem !important;
}

.card-member{
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.stretch-card > .card.member {
    width: 100%;
    height: auto;
    min-height: 167px;
    min-width: 270px;
}

.th-center{
  text-align: center !important;
}

.card .card-body.member {
    padding: 1rem 1rem !important;
}

.grid-margin.card-member{
margin-bottom: 0em !important;
}

.card .card-body .card-member {
    padding: 1.5rem 1.5rem !important;
}

.logo-membership{
  width: 55px;
  height: 55px;
  margin-bottom: 5%;
}

.img-card{
  width: 55px;
  height: 55px;
  margin-bottom: 0.5em;
}

.img-card2{
  width: 100%;
  height: auto;
  margin: auto;
}


/*//IMAGE UPLOAD BUNDER - FILE BROWSER*/
.img-upload-profil{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 1em;
  margin-bottom: 10%;
}

.profile-pic {
    max-width: 128px;
    max-height: 128px;
    width: 100%;
    height: 100%;
    display: block;
}

.file-upload {
    display: none;
}

.detail_member{
  padding-left: 15%;
  padding-right: 15%;
}

.bunder-ring {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border: 8px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;

}

.img_file_bayar_subs{
    background: #f1f1f1;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    text-align: center;
    border: none;
    margin-bottom: 1em;
}

.icon-req-member{
  width: 60px;
  height: 60px;
}

.bunder-ring2 {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 5em;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid #efefef;
    position: absolute;
    top: 72px;
      margin-left: auto;
  margin-right: auto;
    text-align: center;
}
img .profile-pic {
    max-width: 100%;
    height: auto;
}
.p-image {
margin-top: 3em;
left: 60%;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
position: relative;
}



.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*END-FILE IMAGE UPLOAD*/



.circle.editprofil{
    border-radius: 1000px !important;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
}

.p-image.editprofil {
    margin-top: -2em;
    left: 70%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: relative;
}

.img-upload-profil.editprofil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 5%;
}


.cfblue{
  color : #0FB1B5;
}


.up_acc_file{
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid #dadada;
  border-style: dashed;
  width: 100%;
  min-height: 110px;
}

.p-image.accmember {
    margin-bottom: 0.5em;
    margin-top: 1em !important;
    color: #666666;
    left: 0px !important;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
/*    position: relative;*/
}

#view_img_member{
  margin-top: 1em;
  height: 85px;
  width: auto;
  border-radius: 10px;
  display: none;
}

#btn_showpass_accmember{
  background-color: #efefef;
  border-radius: 0px 10px 10px 0px;
  padding: 15px 10px 10px 10px;
}


#md_all_aktifkan_module .modal-content{
background-color: #ffffff;
 min-height: 560px;
padding-left: 3%;
padding-right: 3%;
}

.img-fitur-module{
    width: 50px;
    height: 50px;
}

.row .kanan{
    text-align: right;
}
.row .kiri{
    text-align: left;
}



/*.logo_komunitas{
  width: 30px !important;
  height: 30px !important;
}
*/
.modal-footer.changepass{
  border: none;
    margin-left: 10%;
    margin-right: 10%;
  margin-bottom: 5%;
}


#img_changepass{
  width: 70px;
  height: 70px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#img_signout_admin{
  width: 90px;
  height: 90px;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.modal-footer.deleteinbox {
    margin-top: 1em;
    border: none;
    margin-left: 20%;
    margin-right: 22%;
    margin-bottom: 5%;
}

.img_mdl_centerin{
  width: 90px;
  height: 90px;
  margin-top: 2em;
  margin-bottom: 1.5em;
}


.btn-tosca {
    background: linear-gradient(125.96deg, #96deda 0%, #50c9c3 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-abu {
    background: linear-gradient(125.96deg, #ded0d0 0%, #c3cdd6 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-ijo {
    background: linear-gradient(125.96deg, #0fb34e 0%, #5cc377 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
}

.btn-oren{
  background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
  color: white;
  border-radius: 10px;
}

.btn-oren2{
background: linear-gradient(108.22deg, #eca64e -2.66%, #efce5d 102.89%);
  color: white;
  border-radius: 10px;
}

.a_setmodule:hover{
    color: #0056b3;
    text-decoration: none;
}

.cdgrey{
  color: #656565;
}

.cgrey{
  color: rgb(95, 95, 95);
}

.cputih{
  color: white;
}

.cwhite{
  color: white;
}

.cgrey-mid{
  color: #777777;
}

.clight{
  color: #BDBDBD !important;
}

.cteal{
  color: #0E5F75;
}

.cteal2{
  color: #4596ad !important;
}

.ctosca{
  color: #4596ad;
}

.coren{
  color: #FF9A44;
}

.cgrey1{
  color: #828282;
}

.cgrey2{
  color: #8c8c8c;
}

.cblue{
color: #0FB1B5;
}

.cbiru{
color: #719ca9;
}


.cred{
  color: red;
}

.cgreen{
  color: #27AE60;
}

.s18{
  font-size: 16px;
}

.s16{
  font-size: 16px;
}

.s15{
  font-size: 15px;
}

.s12{
  font-size: 12px;
}

.s11{
  font-size: 11px;
}

.s10{
  font-size: 10px;
}

.s13{
  font-size: 13px;
}

.s14{
  font-size: 14px;
}
.s19{
  font-size: 19px;
}

.s20{
  font-size: 20px;
}
.s22{
  font-size: 22px;
}
.s24{
  font-size: 25px;
}

.s25{
  font-size: 25px;
}
.s27{
  font-size: 27px;
}

.s30{
  font-size: 30px;
}
.s32{
  font-size: 32px;
}
.s35{
  font-size: 35px;
}


/*SUBCRIBER MANAGEMEN TAB */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
border: none;
    margin: 0px;
    position: relative;
    left: 78%;
}

/*//member*/
.tabbable-line > .nav-tabs.member{
border: none;
    margin: 0px;
    position: relative;
    left: 64%;
}

.tabbable-line > .nav-tabs.member > li {
  margin-right: 5px;
  text-align: center;
  min-width: 174px;
}


.tabbable-line > .nav-tabs > li {
  margin-right: 5px;
  text-align: center;
  min-width: 100px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 100px;
  text-align: center;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 100px;
    text-align: center;
}

/*member*/
.tabbable-line > .nav-tabs.member > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 174px;
    text-align: center;
}



.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}


.modal-content.filtersubs{
min-height: 407px;
height: auto;
}

/*///// NAV FILTER //////////*/

.nav-tabs.filter{
  width: 100% !important;
  padding: 0px 12px;
  border-bottom: none;
}

.nav-tabs .nav-link.disabled {
  min-width: 50%;
    color: #BDBDBD !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #018c85 !important;
    background-color: transparent;
    border-color: transparent transparent #4F4F4F;
    border-bottom: 2.5px solid !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 2px solid !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #BDBDBD;
    border-color: #BDBDBD;
    font-size: 14px;
    text-align: center !important;
}
/*END-NAV*/



/* //PAGINATION DATATABLE */
.pagination {
    font-size: 11px !important;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #0e5f75 !important;
    border: none !important;
    border-radius: 10px !important;
    min-width: 30px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
    border-radius: 10px !important;
}

.page-item:last-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.page-item.disabled .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}
.page-item:first-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.pagination a.page-link {
    border: none !important;
    color: rgb(88, 88, 88) !important;
    font-weight: bold;
}
.pagination a.page-link {
    border: none !important;
    border-radius: 10px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 8px !important;
}
/* //end-PGINATION DATATBLE */



/* SIDEBAR SUPERADMIN  */
.sidebar .nav .nav-item .nav-link {
    padding: 0.75rem 0 0.75rem 0 !important;
    color: #a5a5a5 !important;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
    color: #b5b5b5 !important;
}
.sidebar .nav .nav-item.active .nav-link i.menu-icon {
    color: #0e5f75 !important;
}

.sidebar .nav .nav-item.active > .nav-link i {
    color: #0e5f75 !important;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #0e5f75 !important;
    font-weight: bold;
}
/* END- SIDEBAR SUPERADMIN  */

/* FOOTER  */
.footer {
    background: #ffffff !important;
    padding: 20px 1rem !important;
    border: none;
}
.footer a {
    color: #888888;
    font-size: inherit;
}
/* END FOOTER */

/* NEW FROM SUPERADMIN  */

/* //modal scroll */
.modal-body::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.modal-body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

.modal-body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
}
/* end */




#mdl-img-click .modal-content {
    background-color: #ffffff00 !important;
    border: none;
}

#tab_transaction_param .card .card-body {
    padding: 1.5rem 1.5rem !important;
}
#tab_transaction_param {
    border: 1px solid #d9d9d9;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}
.page-header {
    margin: 0 0 1rem 0;
}

.sidebar .nav .nav-item {
    padding: 0 1.25rem !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.content-wrapper {
    padding: 1rem 1.5rem !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.bg-grey {
    background-color: #ebedf2;
}

.redhide {
    display: none;
    color: red;
    font-size: 12px;
}

.text-wrap {
    white-space: normal !important;
    word-break: break-word;
    vertical-align: top;
}
.width-500 {
    width: 500px !important;
}
.width-450 {
    width: 450px !important;
}
.width-400 {
    width: 400px !important;
}
.width-300 {
    width: 300px !important;
}
.width-200 {
    width: 200px !important;
}
.width-250 {
    width: 250px !important;
}
.width-150 {
    width: 150px !important;
}
.width-100 {
    width: 100px !important;
}

.putih {
    background-color: #ffffff !important;
}

/* TAB DETAIL PAYMENT MANAGEMENT */
.tabbable-line.sub_pay_super {
    margin-top: -1.3em;
}
.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super {
    border: none;
    margin: 0px;
    position: relative;
    left: 62%;
}

#img_detail_payment_super {
    width: 85px;
    height: 85px;
    background-color: #a7a7a7a7;
    margin-bottom: 0.5em;
}

.div-info-payment {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1em;
}

.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super > li.active {
    border-bottom: 3px solid #0e5f75;
    position: relative;
    min-width: 50px !important;
    text-align: center;
}

.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super > li {
    margin-right: 5px;
    text-align: center;
    min-width: 50px !important;
}
/* END - DETAIL */

.tabbable-line > .nav-tabs.detailsubpay {
    border: none;
    margin: 0px;
    position: relative;
    left: 55% !important;
}
.img-mini {
    width: 40px !important;
    height: auto;
}


.mgb-1 {
    margin-bottom: 1.5em;
}

.dashone {
    color: #0e5f75;
    margin-top: 1em;
}

.card .card-body.sumari {
    padding: 1rem 1rem;
}

select.form-control {
    color: #7b7b7b !important;
}

.btn-light {
    color: #afafaf;
}

.tabbable-line.tabreport > .nav-tabs {
    border: none;
    margin: 0px;
    position: relative;
    left: 68% !important;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#mdl-img-click .modal-header {
    border: none;
    background-color: #f2edf300;
    padding: none;
}
#mdl-img-click .modal-content {
    border: none;
    background-color: #f2edf300;
}

.btn-tosca {
    background: linear-gradient(125.96deg, #96deda 0%, #50c9c3 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-abu {
    background: linear-gradient(125.96deg, #ded0d0 0%, #c3cdd6 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-ijo {
    background: linear-gradient(125.96deg, #0fb34e 0%, #5cc377 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
}

.btn-oren {
    background: linear-gradient(108.22deg, #fc6076 -2.66%, #ff9a44 102.89%);
    color: white;
    border-radius: 10px;
}

.btn-oren2 {
    background-color: #d96120;
    color: white;
    border-radius: 10px;
}

.tebal {
    font-weight: bold;
}

.btn-teal {
    background-color: #0e5f75;
    border-radius: 6px;
    color: white;
}


.btn-birumuda {
    background: linear-gradient(117.13deg, #96deda 0%, #50c9c3 56.6%);
    border-radius: 6px;
    border: none;
    color: white;
}

.input-abu {
    border-radius: 10px !important;
    background-color: #efefef !important;
    outline: none !important;
}

#img_signout_superadmin {
    width: 90px;
    height: 90px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

select.form-control .input-abu {
    outline: none !important;
}

/*///// NAV FILTER //////////*/

.nav-tabs.filter {
    width: 100% !important;
    padding: 0px 12px;
    border-bottom: none;
}

.nav-tabs .nav-link.disabled {
    min-width: 50%;
    color: #bdbdbd !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #018c85 !important;
    background-color: transparent;
    border-color: transparent transparent #4f4f4f;
    border-bottom: 2.5px solid !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 2px solid !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #bdbdbd;
    border-color: #bdbdbd;
    font-size: 14px;
    text-align: center !important;
}
/*END-NAV*/

/* btn datatble export  */
button.dt-button,
div.dt-button,
a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em !important;
    margin-bottom: 0.333em !important;
    padding: 0.3em 0.5em !important;
    /* border: 1px solid #dcdcdc !important; */
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer;
    font-size: 0.88em;
    line-height: 1em !important;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(
        106.53deg,
        #e6e9ea 0%,
        #e4f2f7 56.6%
    ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
}

.btn-ready-card {
    background: linear-gradient(106deg, #fc6076 -2.66%, #ff9a44 102.89%);
    border-radius: 15px;
    font-size: 0.65rem !important;
    color: white;
}

.bg-gradient-blue {
    background: linear-gradient(106.53deg, #91e4e0 0%, #80d8d4 56.6%);
}

.bg-gradient-yellow {
    background: linear-gradient(106.53deg, #ffbc77 0%, #f7e26c 56.6%);
}

.melengkung15px {
    border-radius: 15px !important;
}

.melengkung10px {
    border-radius: 10px !important;
}

.melengkung8px {
    border-radius: 8px !important;
}

.melengkung6px {
    border-radius: 6px !important;
}

.detilhref {
    border-radius: 20px !important;
    width: 30px !important;
    height: 30px !important;
}

.mdi.matadetail {
    position: relative !important;
    top: 7px !important;
}

.round-label {
    min-width: 80px;
    border-radius: 12px;
    color: white;
}

.dash-img-profil {
    height: 35%;
    width: 35%;
    min-height: 90px;
    min-width: 90px;
}


.bg-hijau {
    background-color: #cbe8b9;
}

.bg-ijo {
    background: linear-gradient(106deg, #43b95f -2.66%, #63d87c 102.89%);
    border: none;
}

.bg-merah {
    background-color: #ffd6d6;
}

.bg-kuning {
    background-color: #fcf5b0;
}

.bg-abu {
    background-color: #cacaca;
}

.bg-biru {
    background-color: #c1e4e3;
}
.bg-biru {
    background-color: #c1e4e3;
}
.bg-tosca {
    background-color: #50b7b9;
}


/* TREE CHECKBOX */
input[type="checkbox"] {
    vertical-align: middle !important;
}

.tree {
    margin: auto;
    /* margin-top: 3%; */
    /* width: 80%; */
    list-style-type: none;
}

.tree ul {
    display: none;
    margin: 2px auto;
    margin-left: 6px;
    border-left: 1px dashed #dfdfdf;
    list-style-type: none;
}

.tree li {
    padding: 0px 15px;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
}

.tree li:first-child {
    border-radius: 3px 3px 0 0;
}

.tree li:last-child {
    border-radius: 0 0 3px 3px;
}

.tree .active,
.active li {
    background: #efefef;
}

.tree label {
    cursor: pointer;
    margin-bottom: 0em !important;
}

.tree input[type="checkbox"] {
    margin: -10px 6px 0 0px;
}
.tree.member input[type="checkbox"] {
    margin: 0px 6px 0 0px;
}

.has > label {
    color: #000;
}

.tree .total {
    color: #50c9c3;
}
/* END-TREE CHECKBOX */
/* END - NEW FROM SUPERADMIN  */


.membershipbtn{
background: #ffffff00;
    border: none;
    position: relative;
    top: 35px;
}

.btn_bening{
    background: #ffffff00;
    border: none;
}


.listfiturmember{
    margin-top: 0.5em;
}

.lismember{
    margin-bottom: 0.5em;
}

#img_detail_member.bunder-ring {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}
.float-right {
    float: right !important;
    position: relative !important;
}


div.scrollfitur {
    overflow: auto;
    white-space: nowrap;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.scrollfitur a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}


div.scrollfitur::-webkit-scrollbar {
  /*height: 7px;  height of horizontal scrollbar ← You're missing this */
  width: 7px;  /* width of vertical scrollbar */
  background-color: #F5F5F5;
}

div.scrollfitur::-webkit-scrollbar-thumb
{
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
}


.show_subfitur_module .grid-margin {
    margin-bottom: 0.5rem !important;
}

.img-card3{
  width: 20px;
  height: 20px;
  margin: auto;
}

#accordion_reportsubs .card-header{
    padding: 0px !important;
}

#accordion_reportsubs .btn{
    padding: 0px !important;
}


#accordion_reportsubs .card-header{
    background-color: #fff0;
border: none !important;
}
#accordion_reportsubs .card .card-body{
    padding: 0.2rem 0rem 0.1rem !important;}

#accordion_reportsubs .btn-link {
    color: #797979;
}

#accordion_reportsubs .card{
    background: #fff0;
}

/* //div scroll */
div::-webkit-scrollbar-track {
    background: #f5f5f5;
}

div::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

div::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
}


.btn-center{
     display: flex;
     align-items: center;
     justify-content: center;
}

/* //EDIY PROFIL ADMIN */
.img-upload-profil.editprof{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60;
}

/*//edit community profil*/
.p-imageditprof {
margin-top: 9rem;
    left: 110px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: relative;
}


.modal-footer.kananbawah{
    border: none;
    position: absolute;
    margin-bottom: 1.5em;
    margin-right: 1em;
    bottom: 0;
    right: 0;
}



/* RADIO  BUTTON SETTING MODULE */
.form-check.set_mod {
    position: relative;
    display: block;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    padding-left: 0;
}

.form-check.set_mod .form-check-label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#9bd7ff), to(#91caff));
    background: linear-gradient(to right, #42cdcf, #0e97cc) !important;
    border-width: 0;
}

.form-check.set_mod .form-check-label input[type="radio"] + .input-helper:before {
    border: solid #95e4e1 !important;
}


/* hide change status inbox-management */
.tipe1{
    display: none;
}
.tipe2{
    display: none;
}


/* choose paymnet module management */
#modal_pay_module .modal-dialog{
    width: 100% !important;
}



/* //modal paymet module */
.btn-blueline{
  margin-top: 2%;
  border: 1.2px solid #b9dbde;
box-sizing: border-box;
border-radius: 6px;
color: #777777;
width: 400px;
margin-right: 1em;
}

#btn_pay_next{
  width: 30%;
  height: auto;
  margin-top: 5%;
}


.btn-blueline:hover{
background: linear-gradient(106.53deg, #cefffd 0%, #aacefd 56.6%);
}

.active.btn-blueline{
    margin-top: 1em;
  border:3.5px solid #2e93af;
box-sizing: border-box;
border-radius: 6px;
color: #384049;
}


/* //acordion payment module */

.card.border-oren{
   border: 1.2px solid #b9dbde;
   width: 100%;
   border-radius: 8px;
   margin-bottom: 1em;
}

.card.border-oren.active{
  border: 3.5px solid #2e93af !important;
}

.collapse-accordion .card-header {
  background-color: white !important;
  color: rgb(75, 75, 75);
  padding:0;
  border-bottom: none;
  border-radius: 8px;
}

.collapse-accordion .card-header:hover {
    background: linear-gradient(106.53deg, #f7fafa 0%, #f5f9ff 56.6%);
}

.collapse-accordion .card a[data-toggle=collapse] {
  display: block;
  padding: 0.75rem 1rem;
  color: grey;
}
.collapse-accordion .tree .active, .active li {
    background: #fff !important;
}

.collapse-accordion .card-block{
    padding: 5%;
}

.hidendulu{
    display: none;
}

.hidendulu.dipilih{
display: block;
}


/* NAVBAR NOTIF */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 10px 15px !important;
    cursor: pointer;
}


.preview-list .preview-item .preview-thumbnail.medium img, .preview-list .preview-item .preview-thumbnail .preview-icon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
}

.dropdown-item.preview-item.notif{
width: 265px !important;
}


/* //IMAGE KLIK MODAL */

#mdl-img-view{
max-height: 515px;
width: auto;
}


.sttrans{
    margin-right: 1em;

}


.padsubmember{
    padding-right: 0px;
    margin-right: -1em;
}

.bg-gradient-blue.submember{
    min-height: 80px;
    height: auto;
}


ul.submember li {
    line-height: 1.3 !important;
}

ul.submember{
font-size: 0.9rem !important;
}




/* NEWS MODULE CSS */
  .news-list-box{
    border-radius: 2%!important;
    height: auto!important;
    width: 40px!important;
  }

.news-title{
    margin: 0 auto;
  }

.news-body{
    margin: 0 auto;
  }

  .img-mid{
    width:100%;
  }
.news-info{
  margin: 0 auto;
    text-align: center;
    padding:2%;
}

.news-content{
  padding: 2%;
}

.news_pic_cont{
  overflow:hidden;
  width:200px;
  height:180px;
}
.news_pic_dash{
  overflow:hidden;
  width:Auto;
  height:140px;
  background-color: rgb(241, 241, 241);
  border-radius: 6px;
}

.news_pic{
  width: 50%;
  padding:0% 10% 0% 10%;
  border-radius:3%;
}

.news-img-upload{
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
        height:auto;
}

.news-img-cont{
    overflow: hidden;
    position: static;
    top:0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.p-image.editnews{
    margin-top: -1.5em;
    left: 90%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: relative;
}
.toggle.btn{
float:right;
}
.toggle-handle{
  padding:10px;
}

.headline-stat,.publish-stat{
  margin-top:20px;
}

.unpublished{
  background-color: #fe7c96;
  text-align: center;
    padding: 5%;
    border-radius: 10px;
    color: white;
}
.published, .headline-status.headline{
  background-color: #1bcfb4;
  text-align: center;
    padding: 5%;
    border-radius: 10px;
    color: white;
}
.headline-status.not-headline{
  background-color: #d9d9d9;
  text-align: center;
    padding: 5%;
    border-radius: 10px;
    color: #fcfcfc;
}



/* NEWS MODULE END OF CSS */


/* NEWS DASHBOARD START OF CSS */



#headline_cont{
  position:relative;
  overflow: scroll;
  overflow-y: hidden;
  height:320px;
  width:100%;
  margin-bottom:20px;
}

#news_headline_cont{
  position:absolute;
  display: inline-flex;
}

#news_headline_cont .news_pic{
  width:100%;
  padding:0;
}

.news_headline_card{
  padding-right: 12px;
  padding-left: 12px;
  width: 500px;
}

#other-news{
  float:right;
}

.news_readmore{
  float:right;
}

#headline_cont::-webkit-scrollbar-thumb {
  background-color: #fbf8fc;
  outline: 0.5px solid #e9e1ec;
}
#headline_cont::-webkit-scrollbar {
    width: 1px;
    height:3px;
}
#headline_cont::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}



/* NEWS DASHBOARD END OF CSS */
