.jjson-container {
    font-size: 13px;
    line-height: 1.2;
    font-family: monospace;
    padding-left: 0;
    margin-left: 20px;
    overflow: auto;
      height: 120px;
}
.jjson-container,
.jjson-container ul{
    list-style: none !important;
    margin-bottom: 0em !important;
    line-height: 1.2;
}
.jjson-container ul{
    padding: 0px !important;
    padding-left: 20px !important;
    margin: 0px !important;
    line-height: 1.2;
    font-size: 0.75rem;
}

.jjson-container li {
    position: relative;
    line-height: 1.2;
}

.jjson-container > li  > .key,
.jjson-container .array .key {
    display: none;
}

.jjson-container .array .object .key {
    display: inline;
}

.jjson-container li:after {
    content: ",";
}

.jjson-container li:last-child:after {
    content: "";
}

.jjson-container .null {
    color: #999;
}
.jjson-container .string {
    color: #4e9a06;
}
.jjson-container .number {
    color: #a40000;
}
.jjson-container .boolean {
    color: #c4a000;
}
.jjson-container .key {
    color: #204a87;
}
.jjson-error {
    margin: 10px;
    color: rgb(239, 62, 62);
}
.jjson-container .expanded {
    cursor: pointer;
}
.jjson-container .expanded:before {
    content: "-";
    font-size: 1em;
    width: 13px;
    text-align: center;
    line-height: 13px;
    font-family: sans-serif;
    color: #933;
    position: absolute;
    left: -15px;
    top: 3px;
}

.jjson-container .collapsed:before {
    content: "+";
    font-size: 1.1em;
    color: #000;
    top: 1px;
}

.jjson-container li .collapsed ~ .close:before {
    content: "... ";
    color: #999;
}

.jjson-container .hidden ~ ul {
  display: none;
}

.jjson-container span {
    position: static !important;
}

.jjson-container .close{
font-size: 1rem;
}


/* //div scroll */

.jjson-container::-webkit-scrollbar-track {
    background: #f5f5f5;
    	border-radius: 15px;
}

.jjson-container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.jjson-container::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

.jjson-container::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
    border-radius: 15px;
    width: 30%;
}
