/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 992px){
  .modal-content {
    width: 100%;
  }

/*//off - scrolling*/
html, body {
margin: 0; height: 100%; overflow: auto;
}


.pdcuslogin{
  padding-top: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
}

.orenq{
  background: linear-gradient(94.66deg, #FC6076 -2.66%, #FF9A44 102.89%);
  height: 255px;
  width: auto;
}

.judullogin{
  margin-bottom: -0.3em;
  color: white !important;
  margin-top: 2.6em;
}

.cjudul{
  margin-left: 1em;
  margin-right: 1em;
}

.deslogin{
  color:white;
  margin-top: 0.5em;
  font-size: 15px;
}

#login-left-img{
position: absolute;
width: 60%;
height: auto;
left: 0px;
top: 120px;
}

#LoginComm{
	width: 263px;
}

#loading_adminregis{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    color: white;
    margin-top: 28vh;
}


#login-left-commjuction{
position: absolute;
width: 50%;
height: auto;
left: 45px;
top: 30px;
}

.mg-pricing{
  margin-top: 15%;
}

.backarrow {
  position: absolute;
  left: 14%;
  top: 11.4%;
  bottom: 50%;
}

.backarrow2 {
  position: absolute;
  left: 20%;
  top: 10%;
  bottom: 50%;
}

.btn_time_pricingq {
    margin-top: 0em !important;
}

.cd-pricing{
width: 100%%;
min-width: 290px;
min-height: 400px;
height: auto;
margin-top: 10%;
border-radius: 10px;
background-image: url("/visual/card-pricing.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.btn_time_pricingq{
  margin-left: -5%;
}

#judul_fiturq{
  margin-top: 15%;
}

.backarrow3{
position: absolute;
left: 15%;
top: 10%;
bottom: 86.33%;
}

.fiturcard{
width: 20.5rem;
height: auto;
min-height: 8.5rem;
margin-top: 5%;
}

#div_popular{
  display: none;
}

#next_pilihfitur{
margin-bottom: 10%;
}

.backarrow-pay{
position: relative;
left: 10%;
top: 15px;
bottom: 86.33%;
}


#panah_pay{
  position: relative;
  left: 3%;
  right: 94.24%;
  top: 13px;
}

.btn-orenline{
margin-top: none;
}


#judul_pilihpay{
  margin-top: 6%;
  margin-bottom: none;
}

#txt_paymethod{
  margin-top: 8%;
  margin-bottom: 6%;
}

#btn_pay_next{
  margin-bottom: 20%;
  width: 100% !important;
  height: auto;
}

#judul_finalregis{
  margin-top: 5%;
}





} /*//end-@media*/

