*{
    @font-face {
  font-family: raleway;
  src: url('/public/font/ralewayextralight.ttf')
  format('truetype');
}
  }

/*//off - scrolling*/
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #fffcaf, #ffe7a7, #ffd4aa, #ffc3b2, #ffb6bc);
}



/* google login admin community */
.login .abcRioButton.abcRioButtonLightBlue{
  height: 36px;
  min-width : 300px;
  width: 100%;
  border-radius: 10px !important;
  margin-left: 30%;
  margin-right: 30%;
}




/*//image click css//*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btnnextadmin{
margin-top: 0.5em;
background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 6px;
width: 174px;
height: 38px;
border:none;
}

#login-img-subs{
    position: absolute;
    width: 47%;
    height: auto;
    left: 0px;
    top: 40%;
    opacity: 0.3;
}

#img-loginadmin{
      height: auto;
    width: 66%;
    top: 26%;
    position: absolute;
}


#googleRegis{
  margin-top: -0.2em;
}

.putih{
  color: white;
}


.deslogin{
  color:white;
  margin-top: 0.5em;
  font-size: 18px;
}

.mg-2{
  margin-left: 2.5rem;
}

#login-left-commjuction{
position: absolute;
width: 36%;
height: auto;
left: 65px;
top: 30px;
}


#login-left-commjuctioncdn{
position: absolute;
width: 75px;
height: 75px;
right: 165px;
top: 30px;
}

.relativeini{
    position: relative !important;
    color: #c5c5c5 !important;
}

.relativepos{
    position: relative !important;
}


.cjudul{
  margin-left: 2em;
  margin-top: 12%;
  color: white;
}

.subs_judul{
  margin-left: 2em;
  color: white;
  margin-top: 7em;
  position: relative;
}

#loginadmincom{
overflow: visible;
}


.text-wrap {
    white-space: normal !important;
    word-break: break-word;
    vertical-align: top;
}
.width-500 {
    width: 500px !important;
}
.width-450 {
    width: 450px !important;
}
.width-400 {
    width: 400px !important;
}
.width-300 {
    width: 300px !important;
}
.width-200 {
    width: 200px !important;
}
.width-250 {
    width: 250px !important;
}

.width-100 {
    width: 100px !important;
}
.width-90 {
    width: 90px !important;
}
.width-50 {
    width: 50px !important;
}

#btn_register2{
width: 174px;
height: 36px;
color: white;
background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 6px;
border: none;
}

.backbtn{
width: 174px;
height: 38px;
color: #BDBDBD;
background: white;
border-radius: 6px !important;
border-color: #BDBDBD;
border : 2px solid;
}

.card-block{
  padding: 1rem 1rem 1rem 1rem;
}

#img_portal_bg{
position: absolute;
height: 100% !important;
width: 100% !important;
margin: auto;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) !important;
}

.biruq{
  background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%);
  max-height: 1200px;
  min-height: 100vh;
  width: auto;
  overflow: hidden !important;
}

#img_icon_portal{
        height: 45px !important;
    position: absolute;
    top: 40px;
    left: 60px;
}

.full_height{
  max-height: 1200px;
  height: 100%;
  width: auto;
}


.bg-full-oren{
  background: linear-gradient(94.66deg, #FC6076 -2.66%, #FF9A44 102.89%);
height: 100vh;
width: 100%;
}


.orenq{
  background: linear-gradient(94.66deg, #FC6076 -2.66%, #FF9A44 102.89%);
  max-width: 1200px;
  height: 100vh;
  width: auto;
}

.nav-oren{
  background: linear-gradient(148.54deg, #FC6076 -2.66%, #FF9A44 102.89%);
  height: 35px;
}

.mg-pricing{
    margin-top: 1em;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.mg-fituradmin{
    margin-top: 2%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.mg-fiturq{
  margin-top: 4.5em;
}


.backarrow{
position: absolute;
left: 7%;
top: 11.4%;
bottom: 86.33%;
}

.backarrow-detail2{
    position: relative;
    top: 1.5em;
    left: 6em;
}
.backarrow-detail2{
    position: relative;
    top: 1.5em;
    left: 4em;
}

.registerback{
    position: relative;
    margin-top: 2em;
    margin-left: 5em;
}

.backarrow-pay{
position: fixed;
left: 6%;
top: 8%;
bottom: 86.33%;
}

.backarrow2{
position: absolute;
left: 10%;
top: 9%;
bottom: 86.33%;
}

.backarrow1{
position: relative;
left: 5%;
top: 30px;
bottom: 86.33%;
}

#left-arrowregis{
position: fixed;
    left: 4%;
    right: 94.24%;
    top: 9.5%;
    bottom: 86.33%;
}

#panah_pay{
position: fixed;
left: 3%;
right: 94.24%;
top: 8%;
bottom: 86.33%;
}

.panahkiri{
position: fixed;
left: 3%;
top: 10%;
bottom: 86.33%;
}

.backarrow3{
position: fixed;
left: 6%;
top: 10%;
bottom: 86.33%;
}


#left_backpay{
position: relative;
left: 3.5%;
right: 94.24%;
top: 29px;
bottom: 86.33%;
}

.card.cd-pricing:hover{
 border-style: solid;
height: auto;
margin-top: 3%;
 border-width: 5px;
 border-color: #FF9A44;
 margin-top: 0em;
 border-radius: 10px;
 opacity: 1 !important;
}

#shadow-pricing{
position: absolute;
left: 8.33%;
right: 65.6%;
top: 12.6%;
bottom: 62.85%;
opacity: 1.4;
}

.hidepayment{
    display: none;
}

#shadow-fiturq{
position: absolute;
left: 8.33%;
right: 65.6%;
top: 12.6%;
bottom: 62.85%;
opacity: 2.4;
}

select.review{
border-color: #efefef;
border-radius: 8px;
background-color: #fff !important;
}

.detail-fiturq{
  margin-top:0.5em;
  text-align: right;
}

.mg-detailfitur{
  padding: 1.5em;
  margin-top: 0em;
}

#jeniscom2{
  background-color: white !important;
}

.otpimgbg{
position: absolute;
width: 339px;
left: 495px;
top: 23px;
}

.oval-kanan{
  position: absolute;
    top: 225px;
    left: 865px;
    width: 280px;
}


.txt_detail_fitur{
  color: #D96120;
}

#txt_subfituradmin{
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.img-subfitur{
  width: 30% !important;
  height: auto;
}

a {
    text-decoration: none !important;
}
.btn_time_pricingq{
  margin-top: 2em !important;
  border-radius: 2rem !important;
}

.btn-group-lg>.btn, .btn_time_pricingq.btn-lg {
    border-radius: 2rem;
}

.btn-blue{
  background: linear-gradient(127.87deg, #48C6EF 0%, #6F86D6 61.61%);
  color: white;
  border-radius: 6px;
  border: none;
  outline: none;
}

.btn-oren{
  background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
  color: white;
  border-radius: 6px;
}

.btn-oren1{
  background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
  color: white;
  border-radius: 6px 0 0 6px;
}

.btn-oren2{
  background: linear-gradient(108.22deg, #FF9A44 -2.66%, #FC6076 102.89%);
  color: white;
}

.btn-oren3{
  background: linear-gradient(108.22deg, #FC6076 28.34%, #940b6a 127.89%);
  color: white;
}

#next_pilihfitur{
  width: 150px;
  margin-top: 15px;
  margin-bottom: 3%;
}

.bg-cardpricing{
position: absolute;
margin-left: 3.2em;
top: -21px;
height: 399px;
width: 320px;
left: -76px;
}

.fiturcard{
width: 9.5rem;
height: auto;
min-height: 11.5rem;
margin-top: 5%;
border-radius: 10px;
}

.back-pricing{
        position: relative;
    left: 6.5em;
    top: 1.5em;
}
.panah-pricing{
    position: relative;
    left: 4em;
    top: 1.4em;
}

.mgb-0px{
    margin-bottom: 0em;
}

.cd-pricing.active {
/* box-shadow: 0px 0px 40px 10px rgb(255, 247, 170); */
border: 5px solid #FF9A44;
}

.cd-pricing {
width: 65%;
min-width: 260px;
min-height: 355px;
height: auto;
margin-top: 10%;
border-radius: 10px;
background-image: url("/visual/card-pricing.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.card-harga{
font-size:27px;
}

.bordersubcard{
  min-width: 11rem;
    max-width: 12rem;
    height: 8rem;
    border: none;
    /* border-color: #FF9A44; */
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 30px 0 rgba(0, 0, 0, 0);
    border-radius : 10px;
}

.clr-oren{
  background: linear-gradient(109.6deg, #FC6076 -2.66%, #FF9A44 102.89%);
  border-radius: 30px;
  color: white;
  width: 120px;
  text-align: center;
}


.card-body.pricing{
    padding: 1rem 0.5rem !important;
}

.pd-subf{
    padding-left: 10px;
    padding-right: 10px;
}

.mgb-0{
    margin-bottom: 0em !important;
}


#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalq {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentq {
  margin: auto;
  display: block;
  width: 30%;
  height: auto;
  max-width: 600px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 30%;
  height: auto;
  max-width: 600px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-contentq, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.closeq {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.closeq:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.vs-regis{
  position: absolute;
    width: 85%;
    left: 0px;
    top: 30%;
}

.img_confirm1{
    position: absolute;
    right: 0px;
}

.img_confirm2{
    position: absolute;
    right: 170px;
    width: 30%;
    top: 60px;
}

.img_confirm3{
position: absolute;
    bottom: 0px;
    left: 0px;
    width: 250px;
}

.vs-regis1{
position: absolute;
    width: 435px;
    bottom: 0;
    left: 0;
}

.nav-tabs{
  width: 100% !important;
}

.nav-tabs .nav-link.disabled {
  width: 50%;
    color: #BDBDBD !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.registerui.active {
    color: #4F4F4F !important;
    background-color: transparent;
    border-color: transparent transparent #4F4F4F;
    border-bottom: 2.5px solid !important;
    font-size: 16px;
    font-weight: bold;
    /* min-width: 50%; */
    width: 50%;
    text-align: center !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4F4F4F !important;
    background-color: transparent;
    border-color: transparent transparent #4F4F4F;
    border-bottom: 2.5px solid !important;
    font-size: 16px;
    font-weight: bold;
    /* min-width: 50%; */
    /* width: 50%; */
    text-align: center !important;
}


.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 2px solid !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #BDBDBD;
    border-color: #BDBDBD;
    font-size: 16px;
    /* min-width: 250px;
    width: 250px !important; */
    text-align: center !important;
}

.cus-a{
  color: #BDBDBD !important;
}

.inforegis_subs{
  margin-left: -2em;
  margin-bottom: 0.5em;
}

.kontenregsiter{
  width: 707px;
}

#pesan_icon{
    position: absolute;
    left: 60px;
    top: 55px;
}

#text_dimensi{
    margin-left: 1em;
}

#form_regispersonal_subs{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.loadingq.modal-content{
  background-color: #fff0 !important;
  border: none !important;
}

.iniloading{
  margin-top: 1em;
  color: white;
}

.btn-regissubs1{
margin-top: 1em;
background: linear-gradient(118.89deg, #96DEDA 0%, #50C9C3 56.6%);
border-radius: 6px;
width: 120px;
color: white;
}

.btn-backregis1{
margin-top: 1em;
border-color: #BDBDBD;
border-radius: 6px;
width: 120px;
color: #BDBDBD;
}


#commjuction-regis1{
position: absolute;
width: 312.79px;
height: auto;
left: 70px;
top: 28px;
}

.langimgq{
  margin-top: 1em;
  margin-left: 1.5em;
}


.s18{
  font-size: 16px;
}

.s16{
  font-size: 16px;
}

.s15{
  font-size: 15px;
}

.s12{
  font-size: 12px;
}
.s11{
  font-size: 11px;
}
.s10{
  font-size: 10px;
}

.s13{
  font-size: 13px;
}

.s14{
  font-size: 14px;
}

.s25{
  font-size: 25px;
}

.s30{
  font-size: 30px;
}
.s32{
  font-size: 32px;
}
.s35{
  font-size: 35px;
}

.pdregis1{
  text-align: left;
  padding-top: 3%;
  padding-left: 9%;
  padding-right: 9%;
  max-width: 1200px;
  width : 100%;
}

#mdl-loadingajax .modal-content{
  background-color: #fff0;
  border: none;
}


.pdregis2{
  text-align: left;
  padding-top: 1.5em;
  padding-left: 7em;
  padding-right: 7em;
}

.sigin{
  margin-top: 1em;
  margin-right: 2em;
  text-align: right;
}

.abcRioButtonBlue{
  height: 41px !important;
    width: 325px !important;
    border-radius: 6px !important;
}

#signGoogle .abcRioButtonBlue{
  height: 41px !important;
    width: 325px !important;
    border-radius: 6px !important;
}

.abcRioButtonIcon{
  padding: 10px !important;
  border-radius: 6px !important;
}

.abcRioButtonSvgImageWithFallback .abcRioButtonIconImage .abcRioButtonIconImage18{
  width: 20px !important;
  height: 16px !important;
}

.abcRioButtonContents{
  font-size: 15px !important;
    line-height: 35px !important;
}

#btn_showpass_review{
  border: none;
  border-radius: 25px;
}

#btn_showpass_regis{
    border: none;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}

#password_admin_review{
  margin-top: -0.5em;
}

#nav-tabContent{
  margin-top: -0.7em;
}

.mgb-04-03{
 margin-bottom: 0.4em;
 margin-top: -0.3em;
}

.mgb-05{
 margin-bottom: 0.5em;
}

.cgrey{
  color: #4F4F4F;;
}

.clight{
  color: #BDBDBD !important;
}

.clight2{
  color: #868484 !important;
}


.ctosca{
  color: #4bb9d8 !important;
}


.cteal{
  color: #0E5F75;
}

.cteal2{
  color: #4596ad;
}

.coren{
  color: #FF9A44;
}

.cgrey1{
  color: #828282;
}

.cgrey2{
  color: #8c8c8c;
}

.login-top{
	padding-top: 6%;
}
.login-top2{
	padding-top: 4%;
}
.redhide{
  color: red;
  display: none;
}
.register-top{
	padding-top: 1%;
}
.mgtop-1{
	margin-top: 1em;
}
.mgtop-2{
	margin-top: 2em;
  text-align: right;
}

#bg-superadmin{
  background: #013244;
  height: 695px;
  color: #E5E5E5;
}

/*.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}*/

#bg-superadmin {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#logologinsuperadmin{
  margin-bottom: 0.5sem;
}

#klikregister{
  color: #D96120;
}

#subsregisklik{
  color: #D96120;
}

.pdcuslogin{
  padding-top: 2em;
  padding-left: 8%;
  padding-right: 8%;
}

.pdsubslogin{
  padding-top: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
}

/* #LoginSubscriber{
background: linear-gradient(180deg, #48C6EF 0%, #6F86D6 100%);
border-radius: 6px;
border:none;
width: 165px;
margin-bottom: 1em;
} */

.textlogin{
  margin-top: 0em;
  margin-bottom: 1.5em;
  /*font-size: 18px;*/
}

div.hr-or {
  margin-top: 10%;
  margin-bottom: 5%;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

.abcRioButton .abcRioButtonLightBlue{
  border-radius: 20px !important;
}

div.hr-or:before {
  background-color: #fff;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

 #logo-loading-2{
    position: absolute;
    top: 35%;
    left: 48%;
    width: 8%;
    height: auto;
 }

.loadingq{
  /*background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);*/
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

.btn-grad {
	background-image: linear-gradient(to right,#a6eaf7 0%, #C4E0E5 51%, #4CA1AF 100%)
}
.btn-grad:hover {
	background-position: right center;
	color: black;
}
.bg-colour{
	background-image: linear-gradient(to right, #BE93C5 0%, #7BC6CC 51%, #BE93C5 100%)
}
.text-grad{
	margin-top: -1em;
	margin-bottom: 1em;
}
#signGoogle{
	border-radius: 5px;
}
#LoginComm{
position: absolute;
width: 170px;
height: 40px;
border-color: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
border: none;
}
.showtimepricing{
  margin-bottom: 2em;
}

.btn-grad{
  width: 200px;
  background-image: linear-gradient(to right, #acedff 0%, #7BC6CC 51%, #829ccc 100%);
  border-color: #35e0f1;
}
.judul_regis_subs{
  margin-left: 1.5em;
  margin-top:35%;
}

.langimg{
  text-align: right;
  height: auto;
  margin-right: 0.5em;
}

.contain-pay{
  /* margin-top: 1em; */
  padding: 3%;
  margin-bottom: 1.5em;
}

.contain-tiga{
  padding: 1em 1em 3em 3em;
}


.card.border-oren{
    border-radius: 10px;
}

.card-header.payregis{
    border-radius: 10px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 65px;
}

.simbol-payregis{
    margin-top: 1em;
}

.card-block.payregis{
padding: 0rem;
}

a.payregis{
      text-decoration: none;
}

.card.border-oren.active{
  border: 3px solid #FF9A44 !important;
  border-radius: 10px;
}

.dipilih{
  border: 3px solid #FF9A44 !important;
  border-radius: 10px;
}

.tebal{
    font-weight: bold;
}

.collapse-accordion .card-header {
  background-color: white !important;
  color: grey;
  padding:0;
}

.collapse-accordion .card-header:hover {
    background: linear-gradient(106.53deg, #fff6e6 0%, #fffcde 56.6%);
}


.collapse-accordion .card a[data-toggle=collapse] {
  display: block;
  padding: 0.25rem 1rem;
  color: grey;
}

#card-forgetadmin{
  top: 160px;
  height: 258px;
  border-radius: 12px;
  box-shadow: 0px 5px 5px #d4d4d46b;
}

#card-finish{
  top: 290px;
  height: 210px;
  border-radius: 12px;
  box-shadow: 0px 5px 5px #d4d4d46b;
}

#card-forgetadmin2{
  top: 160px;
  height: 310px;
  border-radius: 12px;
  box-shadow: 0px 5px 5px #d4d4d46b;
}

.bg-page-forget{
  /* background: linear-gradient(97.28deg, #FC6076 -2.66%, #FF9A44 102.89%); */
    background:linear-gradient(127.87deg, #48C6EF 0%, #6F86D6 61.61%);
  height: 310px;
}

.bg-page-finish{
  background: linear-gradient(97.28deg, #FC6076 -2.66%, #FF9A44 102.89%);
  height: 345px;
}

.modal.modal_ajax{
    background: radial-gradient(#ffffff7a, #fff6ca57);
}

.modal_ajax .modal-content{
  background-color: #fff0 !important;
  border: none;
  color: white;
}


.forgetbgpic{
position: absolute;
width: 530px;
left: 540px;
top: 45px;
}

.bgselesai{
position: absolute;
width: 365px;
left: 490px;
top: 45px;
}

.oval-selesai{
    position: absolute;
    top: 255px;
    left: 817px;
    width: 300px;
}

.rumput-kiri{
top: 171px;
position: absolute;
width: 17%;
}

.rumput-kiri2{
top: 205px;
position: absolute;
width: 17%;
}

.pdb1{
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.btn-orenline{
margin-top: 2%;
border: 1.2px solid #dfdfdf;
box-sizing: border-box;
border-radius: 8px;
color: #777777;
height: 40px;
}

#btn_pay_next{
  width: 30%;
  height: auto;
  margin-top: 5%;
}


.btn-orenline:hover{
background-color: #fff6d5;
}

.active.btn-orenline{
    margin-top: 1em;
  border: 3px solid #FF9A44;
box-sizing: border-box;
border-radius: 8px;
color: #384049;
}

.footer-superadmin{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 85px;
   background-color: white;
   color: grey;
   padding-left: 4em;
   padding-right: 4em;
}

.footer-admin{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 65px;
   background-color: white;
   color: grey;
   padding-left: 4em;
   padding-right: 4em;
}

  .inputotp {
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: #ff8319 ;
    margin: 0 5px;
    border :1px solid #ced4da;
    border-radius: 5px;
    font-weight: bold;
  }

  .splitter {
    padding: 0 6px;
    color: grey;
    font-size: 24px;
  }

#com_superadminlogin{
position: fixed;
width: auto;
height: 30px;
}

.textfooter-kiri{
  margin-top: 2em;
}

.textfooter-kanan{
  margin-top: 2em;
  text-align: right;
}

#LoginComm:hover {
	background-position: right center;
}
#loginSuper{
	width: 150px;
  background: linear-gradient(118.89deg, #96DEDA 0%, #50C9C3 56.6%);
  border-radius: 6px;
	color: black;
	margin-bottom: 1em;
	margin-top: 2em;
  color: white;
}
#loginSuper:hover {
	background-position: right center;
	color: white;
}

#rumput_superadmin{
position: absolute;
left: 0%;
right: 77.17%;
top: 57%;
bottom: 14.06%;
}

#oramen_loginsuper{
position: absolute;
width: 120px;
height: auto;
left: 1045px;
top: 119px;
}

.full-height {
  height: 100%;
}

.ico-superlogin{
	width: 40%;
	height: 40%;
	margin-bottom: 0.5em;
}

.form-login-super{
  text-align: left !important;
  margin-top: 2em;
}


.rectangle {
  height: 100%;
  width: 87%;
  background-color: #c7c7c7;
  text-align: center;
}

.btn-round-1 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
 ; background-color: #049642;
  border-color: transparent;
  margin-left: 3%;
  margin-top: 1%;
  text-align: left;
}

.glowin{
  box-shadow: 0px 0px 10px 0px #cbeeff;
}

.btn-round-2 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f9b500;
  border-color: transparent;
  margin-left: 3%;
  margin-top: 2%;
}



.imgprice{
width: 20%; height: auto;
}

.hideku{
  display: none;
}

.hidetime1{
  display: none;
}
.hidetime2{
  display: none;
}
.hidetime3{
  display: none;
}

.active, .timehrg:hover {
  color: black;
}
.hitam{
  color: black;
}
.judul-pricing{
	text-align: center;
	margin-bottom: 0.5em;
	margin-top: 0em;
}
.list-pci{
  padding: 0.2rem 0.1rem;
}

.tengahin{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em;
}

.img-feature{
	width: 55%;
	height: auto;
	margin-bottom: 0.5em;
	text-align: center;
}

.img-feature-pay{
	width: 38%;
	height: auto;
}

.feature-kotak{
	width: 14rem;
	height: 14rem;
	margin-bottom: 1em;
	border-radius:28px;
	text-align: center;
}

.feature-kotak2{
  width: 8rem;
  height: 8rem;
  margin-bottom: 1em;
  border-radius:25px;
  text-align: center;
}

.tab_subfitur{
  margin-top: 1em;
}


.nav-subfitur{
  padding: .2rem 1rem !important;
  border-radius: 1.25rem !important;
  background-color: #b7b7b7 !important;
  color: white;
  margin-bottom: 1em;
}

.btn-detail-feature{
	border-radius: 20px;
	width: 60%;
}

#imgpaymentr{
  width: 25px;
  height: auto;
}

/* __MODAL AJAX LOADING _ */
.modal.modal_ajax{
  background: radial-gradient(#ffffff7a, #caf7ff45);
}

.modal_ajax .modal-content{
  background-color: #fff0 !important;
  border: none;
  color: white;
}


.editk{
  margin-bottom: 1.5rem !important;
}

.cus{
  margin-bottom: 0rem !important;
}

.setview{
  margin-top: 0.5em;
}

.buletborder{
  border-radius:1rem;
  margin-bottom:1em;
  min-height: 90px;
  padding-right: 1em;
  padding-left: 1em;
}

.customwika {
	border-bottom: none !important;
}
.card-pricing{
max-width: 18rem;
width: 250px;
height: 330px;
border-radius: 40px;
}

.kasihwarna{
	background-color: ghostwhite;
	padding-right: -1em;
}

.rcorners {
  border-radius: 8px;
  border: 1px solid #73AD21;
  padding: 20px;
  width: 120px;
  height: 120px;
  color: grey;
  margin-bottom: 2em;
  background-color: transparent;
}

.tebal{
    font-weight: bold;
}

.pas-tengah{
align-items:center;
margin-top: 18%;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.size-review{
	width: 100%;
  height: 400px;
	background-color: #fbfbfb;
	margin-top: 1em;
}

#lbl-amount{
	color: grey;
}
#amount{
	border:0; color:#f6931f; font-weight:bold;
}
.btn-regis{
	margin-top: 1.5em;
}

.text_regis{
	padding-top: 30%;
}


/*//checkbox bunder*/
.roundcheck {
  position: absolute;
}

.roundcheck label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.roundcheck label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.roundcheck-mini label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.roundcheck-mini label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}


.roundcheck input[type="checkbox"] {
  visibility: hidden;
}

.roundcheck input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.roundcheck input[type="checkbox"]:checked + label:after {
  opacity: 1;
}/*//end-checkbox bunder*/


/*//final-feature*/
.roundcheck2 {
  position: absolute;
}

.roundcheck2 label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  left: 0;
  position: absolute;
  top: 0;

}


.roundcheck2 label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 11px;
}




/*///scroll-fitur final regis admin*/
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}



div.scrollmenu::-webkit-scrollbar {
  /*height: 7px;  height of horizontal scrollbar ← You're missing this */
  width: 7px;  /* width of vertical scrollbar */
  background-color: #F5F5F5;
}

div.scrollmenu::-webkit-scrollbar-thumb
{
  background-color: #e0e0e0;
}

.cardku {
  display:inline-block;
  margin-bottom: 0.5em;
}

/*//endcroll*/



.roundcheck2 input[type="checkbox"] {
  visibility: hidden;
}


.roundcheck2 input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.roundcheck2 input[type="checkbox"]:checked + label:after {
  opacity: 1;
}/*//end-checkbox bunder*/


#form_registerfirst_admin{
  margin-bottom: 1.5em;
}


.img-feature{
	width: 35%;
	height: auto;
}

.hide-judulreview{
	display: none;
}

#helologin{
  display: none;
}

#jdullogin{
font-size: 33px;
margin-bottom: 1em;
}

.judul-pricing{
  font-size: 30px;
}


#loading_adminregis{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    color: white;
    margin-top: 30vh;
}

.fullwidth{
    width: 100%;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#loginadmincom{
  height: 100%;
  width: auto;
}

#loading_adminregis{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    color: white;
    margin-top: 32vh;
}

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
#loading_adminregis{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    color: white;
    margin-top: 30vh;
}
}
