html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: arial !important;
}

* {
    font-family: "SF Pro Display Regular", calibri !important;
     font-family: 'MyWebFont', Fallback, sans-serif;
}

@font-face {
    font-family: "SF Pro Display Regular";
    src: url("/font/sf_pro.ttf")format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url("/font/sf_pro.ttf");
}




body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #fffcaf, #ffe7a7, #ffd4aa, #ffc3b2, #ffb6bc);
}


a:hover{
text-decoration: none !important;
color: teal !important;
}
/*/---------------------------------------------------//*/
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}

.content-wrapper{
  padding: 1rem 1.5rem !important;
}

.page-header{
  margin: 0 0 1rem 0 !important;
}

.btn.btn-fw {
    min-width: 115px !important;
}


.card .card-body {
    padding: 2.5rem 2.5rem !important;
}

/*imgae input file*/
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 100px;
    height: 100px;
    cursor: pointer;
}


/*end-imgae input*/


.text-imgedit {
  position: absolute;
  top:-200px; bottom:0; left:48.5%; right:0;
  display: table;
  vertical-align:middle;
  opacity:0;
  margin: auto;
  text-align: center;
}

.text-imgedit {
  text-align:center;
  transition: .5s ease-in-out all;
}

.image-upload:hover img {
  opacity:.4;
}
.image-upload:hover .text-imgedit{
  opacity:1;
}



/*MODAL INITIAL LOGIN */

#initial1 .modal-content{
height: 440px;
background-color: #ffffff !important;
}

#initial2 .modal-content{
height: auto;
background-color: #ffffff !important;
}

#initial3 .modal-content{
height: 440px;
background-color: #ffffff !important;
}

#img-initial1{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#img-initial2{
  width: 35%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#img-initial3{
  width: 55%;
  height: auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}


#btn-initial1{
  border-radius: 6px;
  margin-top: 1em;
}

#btn-initial2{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#btn-initial3{
  border-radius: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*END-MODAL INITIAL*/



/*ICON SIDEBAR MINIMIZE*/
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

/*dashboard subscriber*/
.card .card-body.sumari {
    padding: 1rem 1rem !important;
    border: none;
}

.card-header.sumari {
    border: none;
}

.pad-5px{
    padding: 5px !important;
    border: none;
}

.top-ico-right{
position: absolute;
right: 0;
top: 0;
}

.col.icon-atas{
position: absolute;
right: 20px;
top: 10px;
font-size: 25px;
}

.bg-pastel-red{
    background: linear-gradient(to right, #ffcea4, #fdd8e1) !important;
}


.cdgrey{
  color: #656565;
}

.cgrey{
  color: rgb(95, 95, 95);
}

.cputih{
  color: white;
}

.cwhite{
  color: white;
}

.cgrey-mid{
  color: #777777;
}

.clight{
  color: #BDBDBD !important;
}

.cteal{
  color: #0E5F75;
}

.cteal2{
  color: #4596ad;
}

.ctosca{
  color: #4596ad;
}

.coren{
  color: #FF9A44;
}

.cgrey1{
  color: #828282;
}

.cgrey2{
  color: #8c8c8c;
}

.cblue{
color: #0FB1B5;
}

.cred{
  color: red;
}

.cgreen{
  color: #27AE60;
}

.s18{
  font-size: 16px;
}

.s16{
  font-size: 16px;
}

.s15{
  font-size: 15px;
}

.s12{
  font-size: 12px;
}

.s11{
  font-size: 11px;
}

.s10{
  font-size: 10px;
}

.s13{
  font-size: 13px;
}

.s14{
  font-size: 14px;
}
.s19{
  font-size: 19px;
}

.s20{
  font-size: 20px;
}
.s21{
  font-size: 21px;
}
.s22{
  font-size: 22px;
}
.s24{
  font-size: 25px;
}

.s25{
  font-size: 25px;
}
.s27{
  font-size: 27px;
}

.s30{
  font-size: 30px;
}
.s32{
  font-size: 32px;
}
.s35{
  font-size: 35px;
}

/* ______________________________ */
/* mas adi */
/* .modal.modal_ajax{
  background: radial-gradient(#ffffffd1, #118655b0);
} */

.modal.modal_ajax{
  background: radial-gradient(#ffffff7a, #caf7ff45);
}

.modal_ajax .modal-content{
  background-color: #fff0 !important;
  border: none;
  color: white;
}


.modal-content {
    background-color: #ffffff !important;
    border: none;
}


.label-oren{
  background: linear-gradient(106deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 10px;
}

.bg-hijau{
background-color: #cbe8b9 !important;
}

.bg-ijo{
 background: linear-gradient(106deg, #43b95f -2.66%, #b3e273 102.89%);
border: none;
}

.bg-merah{
  background-color: #ffd6d6;
}

.bg-kuning{
  background-color: #fcf5b0;
}

.bg-abu{
  background-color: #cacaca;
}

.bg-biru{
background-color: #beebe9;
}
.bg-tosca{
background-color: #50b7b9;
}

.btn-ready-card{
background: linear-gradient(106deg, #FC6076 -2.66%, #FF9A44 102.89%);
border-radius: 15px;
font-size: 0.65rem !important;

}

.mgb-04-03{
 margin-bottom: 0.4em;
 margin-top: -0.3em;
}

.mgb-05{
    margin-bottom: 0.5em;
}

.bg-gradient-kuning{
    background: linear-gradient(106.53deg, #fffef5 0%, #fffef5 56.6%);
}

.bg-gradient-blue{
background: linear-gradient(106.53deg, #91e4e0 0%, #80d8d4 56.6%);
}

.bg-gradient-abublue {
    background: linear-gradient(106.53deg, #bde6ea 0%, #bcd1e4 56.6%);
}

.bg-gradient-abupurple {
    background: linear-gradient(129.53deg, #efe4f2 30%, #ddcfff 90%);
}

.melengkung15px{
  border-radius: 15px !important;
}

.melengkung10px{
  border-radius: 10px !important;
}

.melengkung8px{
  border-radius: 8px !important;
}


.melengkung6px{
  border-radius: 6px !important;
}


.detilhref{
  border-radius: 20px !important;
  width: 30px !important;
  height: 30px !important;
}

.mdi.matadetail{
    position: relative !important;
    top: 7px !important;
}

.round-label{
  min-width: 80px;
  border-radius: 12px;
  color: white;
}


.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}


#mdl-img-click .modal-header {
  border: none;
  background-color: #f2edf300;
  padding: none;
}
#mdl-img-click .modal-content {
  border: none;
  background-color: #f2edf300;
}

.putih.card-header{
  background-color: white !important;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 63px;
}

.putih.card-footer{
  background-color: white !important;
  border: none;
}


.btn-ijo{
  background: #299643;
  color: white;
  border-radius: 10px;
  font-weight: lighter !important;
  border: none;
}

.btn-gradient-ijo{
background: linear-gradient(117.13deg, #22bf6f 0%, #6adc6a 56.6%);
color: white;
  border-radius: 10px;
  font-weight: lighster !important;
  border: none;
  min-width: 75px;;
}


.btn-ijo:hover{
  background: linear-gradient(to right, #a7f97c, #43b95f);
}


.mt-01{
  margin-top: 1em;
}

.mb-01{
  margin-bottom: 1em;
}

.mb-1half{
margin-bottom: 1.5em;
}

.tebal{
  font-weight: bold;
}

.btn-teal{
  background-color: #0E5F75;
  border-radius: 6px;
  color: white;
}

.btn-white{
  background-color: #fff;
  border-radius: 6px;
  color: #656565;
  min-width: 150px;
}

.btn-birumuda{
  background: linear-gradient(117.13deg, #96DEDA 0%, #50C9C3 56.6%);
  border-radius: 6px;
  border: none;
  color: white;
}


.input-abu{
  border-radius: 10px;
  background-color: #efefef;
  outline: none !important;
  border-radius: none;
}

.sidebar .nav .nav-item {
  padding: 0 1.5rem !important;
}

.btn-tosca {
    background: linear-gradient(125.96deg, #96deda 0%, #50c9c3 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}

.btn-purpleabu {
    background: linear-gradient(125.96deg, #a9a4cd 0%, #8093d8 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}



.btn-abu {
    background: linear-gradient(125.96deg, #ded0d0 0%, #c3cdd6 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-ijo {
    background: linear-gradient(125.96deg, #0fb34e 0%, #5cc377 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
}

.btn-oren{
  background: linear-gradient(108.22deg, #FC6076 -2.66%, #FF9A44 102.89%);
  color: white;
  border-radius: 10px;
}

.btn-oren2{
background: linear-gradient(108.22deg, #eca64e -2.66%, #efce5d 102.89%);
  color: white;
  border-radius: 10px;
}

.mgtop-minus-1em{
    margin-top: -1em;
}


/* //PAGINATION DATATABLE */
.pagination {
    font-size: 11px !important;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #0e5f75 !important;
    border: none !important;
    border-radius: 10px !important;
    min-width: 30px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
    border-radius: 10px !important;
}

.page-item:last-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.page-item.disabled .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}
.page-item:first-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.pagination a.page-link {
    border: none !important;
    color: rgb(88, 88, 88) !important;
    font-weight: bold;
}
.pagination a.page-link {
    border: none !important;
    border-radius: 10px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 8px !important;
}
/* //end-PGINATION DATATBLE */



/* SIDEBAR SUPERADMIN  */
.sidebar .nav .nav-item .nav-link {
    padding: 0.75rem 0 0.75rem 0 !important;
    color: #a5a5a5 !important;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
    color: #b5b5b5 !important;
}
.sidebar .nav .nav-item.active .nav-link i.menu-icon {
    color: #0e5f75 !important;
}

.sidebar .nav .nav-item.active > .nav-link i {
    color: #0e5f75 !important;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #0e5f75 !important;
    font-weight: bold;
}
/* END- SIDEBAR SUPERADMIN  */

/* FOOTER  */
.footer {
    background: #ffffff !important;
    padding: 20px 1rem !important;
    border: none;
}
.footer a {
    color: #888888;
    font-size: inherit;
}
/* END FOOTER */

/* NEW FROM SUPERADMIN  */

/* //modal scroll */
.modal-body::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.modal-body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

.modal-body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
}

#mdl-img-click .modal-content {
    background-color: #ffffff00 !important;
    border: none;
}

#tab_transaction_param .card .card-body {
    padding: 1.5rem 1.5rem !important;
}
#tab_transaction_param {
    border: 1px solid #d9d9d9;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}
.page-header {
    margin: 0 0 1rem 0;
}

.sidebar .nav .nav-item {
    padding: 0 1.25rem !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.content-wrapper {
    padding: 1rem 1.5rem !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.bg-grey {
    background-color: #ebedf2;
}

.redhide {
    display: none;
    color: red;
    font-size: 12px;
}

.text-wrap {
    white-space: normal !important;
    word-break: break-word;
    vertical-align: top;
}
.width-500 {
    width: 500px !important;
}
.width-450 {
    width: 450px !important;
}
.width-400 {
    width: 400px !important;
}
.width-300 {
    width: 300px !important;
}
.width-200 {
    width: 200px !important;
}
.width-250 {
    width: 250px !important;
}
.width-150 {
    width: 150px !important;
}
.width-100 {
    width: 100px !important;
}

.putih {
    background-color: #ffffff !important;
}


/* btn datatble export  */
button.dt-button,
div.dt-button,
a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em !important;
    margin-bottom: 0.333em !important;
    padding: 0.3em 0.5em !important;
    /* border: 1px solid #dcdcdc !important; */
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer;
    font-size: 0.88em;
    line-height: 1em !important;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(
        106.53deg,
        #e6e9ea 0%,
        #e4f2f7 56.6%
    ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
}



.bg-hijau {
    background-color: #cbe8b9;
}

.bg-ijo {
    background: linear-gradient(106deg, #43b95f -2.66%, #b3e273 102.89%);
    border: none;
}

.bg-merah {
    background-color: #ffd6d6;
}

.bg-kuning {
    background-color: #fcf5b0;
}

.bg-abu {
    background-color: #cacaca;
}

.bg-biru {
    background-color: #c1e4e3;
}
.bg-biru {
    background-color: #c1e4e3;
}
.bg-tosca {
    background-color: #50b7b9;
}
#img_signout_subs{
  width: 90px;
  height: 90px;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.img-modal-teman{
  width: 90px;
  height: 90px;
  margin-top: 2em;
  margin-bottom: 1.5em;
}



/*//IMAGE UPLOAD BUNDER - FILE BROWSER*/
.img-upload-profil{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 1em;
  margin-bottom: 10%;
}

.profile-pic {
    max-width: 128px;
    max-height: 128px;
    width: 100%;
    height: 100%;
    display: block;
}

.file-upload {
    display: none;
}

.detail_member{
  padding-left: 15%;
  padding-right: 15%;
}

.bunder-ring {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border: 8px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;

}

.bunder-ring-mid {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 102px;
    height: 102px;
    border: 5px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;

}

.img_file_bayar_subs{
    background: #f1f1f1;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    text-align: center;
    border: none;
    margin-bottom: 1em;
}

.icon-req-member{
  width: 60px;
  height: 60px;
}

.bunder-ring2 {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 5em;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid #efefef;
    position: absolute;
    top: 72px;
      margin-left: auto;
  margin-right: auto;
    text-align: center;
}
img .profile-pic {
    max-width: 100%;
    height: auto;
}
.p-image {
margin-top: 3em;
left: 60%;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
position: relative;
}

/*//edit community profil*/
.p-image.editcom {
margin-top: 3.5em;
left: 0%;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
position: relative;
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*END-FILE IMAGE UPLOAD*/



.circle.editprofil{
    border-radius: 1000px !important;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 6px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
}

.p-image.editprofil {
    margin-top: -2em;
    left: 70%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: relative;
}

.img-upload-profil.editprofil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 5%;
}
#img_changepass{
  width: 70px;
  height: 70px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}


.bg-gradient-purple{
    background: linear-gradient(283.62deg, #667EEA 0.64%, #764BA2 100.72%);
}

#img-dash2{
    width: 225px;
    position: absolute;
    top: -38px;
    right: 10px;
}

.card .card-body.card-dashsub {
 padding: 0.5rem 1rem 0rem 1rem!important;
 height: 50px;
}

.card-footer.card-dashsub{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 0px 0px 8px 8px;
}

img.artikeldash{
   position:absolute;
    transform:translate(0, -50%);
}


.card .card-body.color {
    padding: 1rem 1.5rem !important;
}


/* //div scroll */

div::-webkit-scrollbar-track {
    background: #f5f5f5;
    	border-radius: 15px;
}

div::-webkit-scrollbar {
    width: 7px;
    height: 12px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

div::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

div::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
    border-radius: 15px;
    width: 30%;
}


.btn-center{
     display: flex;
     align-items: center;
     justify-content: center;
}


.navbar.nav-biru{
  background: linear-gradient(159.95deg, #bce3ec 0%, #50C9C3 56.6%) !important;
  height: 40px !important;
}

.card .card-body.member {
    padding: 1.5rem 2rem !important;
}


/* //CARD MEMBRSIP */

.bg-cardpricing{
position: absolute;
margin-left: 3.2em;
top: -21px;
height: 399px;
width: 320px;
left: -76px;
}

.fiturcard{
width: 9.5rem;
height: auto;
min-height: 11.5rem;
margin-top: 5%;
}

.dash-img-profil{
    height: 80px;
    width: 80px;
    margin-top: 1em;
}


.cd-pricing {
width: 55%;
min-width: 230px;
min-height: 310px;
height: auto;
margin-top: 10%;
border-radius: 10px;
background-image: url("/visual/card-pricing2.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clr-blue{
  background:  linear-gradient(159.95deg, #bce3ec 0%, #50C9C3 56.6%) !important;
  border-radius: 40px;
  color: white;
  width: 150px;
  text-align: center;
  padding: 0.5rem 0.5rem !important;
  border: none;
  outline: none;
}

.card.cd-pricing:hover{
 border-style: solid;
height: auto;
margin-top: 3%;
 border-width: 3px;
 border-color: rgb(39, 208, 250);
 margin-top: 0em;
 border-radius: 10px;
}

.card-harga{
font-size: 23px;
}


.imgprice{
width: 50px;
height: auto;
margin-bottom: 0.5em;
}

a.detailmember:hover{
color: orange !important;
}

img.mediumsize{
    width: 75px !important;
    height: 75px !important;
    margin-bottom: 1em;
}



/* choose paymnet module management */
#modal_pay_initial .modal-dialog{
    width: 100% !important;
}





/* choose paymnet module management */
#modal_pay_module .modal-dialog{
    width: 100% !important;
}


/* //modal paymet module */
.btn-blueline{
  margin-top: 2%;
  border: 1.2px solid #b9dbde;
box-sizing: border-box;
border-radius: 6px;
color: #777777;
width: 400px;
margin-right: 1em;
}

#btn_pay_next{
  width: 30%;
  height: auto;
  margin-top: 5%;
}


.btn-blueline:hover{
background: linear-gradient(106.53deg, #cefffd 0%, #aacefd 56.6%);
}

.active.btn-blueline{
    margin-top: 1em;
  border:3.5px solid #2e93af;
box-sizing: border-box;
border-radius: 6px;
color: #384049;
}


/* //acordion payment module */

.card.border-oren{
   border: 1.2px solid #b9dbde;
   width: 100%;
   border-radius: 8px;
   margin-bottom: 1em;
}

.card.border-oren.active{
  border: 3.5px solid #2e93af !important;
}

.collapse-accordion .card-header {
  background-color: white !important;
  color: rgb(75, 75, 75);
  padding:0;
  border-bottom: none;
  border-radius: 8px;
}

.card-header.paybankmember{
  background-color: white !important;
  color: rgb(75, 75, 75);
  padding: 10px;
  border-bottom: none;
  border-radius: 6px;
}

ul.paybankmember li {
    line-height: 1.3 !important;
    margin-left: 1em !important;
}


.collapse-accordion.paybankmember .card-header:hover {
    background: linear-gradient(106.53deg, #f7fafa 0%, #f5f9ff 56.6%);
}

.collapse-accordion .card-header:hover {
    background: linear-gradient(106.53deg, #f7fafa 0%, #f5f9ff 56.6%);
}

.collapse-accordion .card a[data-toggle=collapse] {
  display: block;
  padding: 0.75rem 1rem;
  color: grey;
}
.collapse-accordion .tree .active, .active li {
    background: #fff !important;
}

.collapse-accordion .card-block{
    padding: 5%;
}

.hidendulu{
    display: none;
}

.hidendulu.dipilih{
display: block;
}


/* NAVBAR NOTIF */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 10px 15px !important;
    cursor: pointer;
}


.preview-list .preview-item .preview-thumbnail.medium img, .preview-list .preview-item .preview-thumbnail .preview-icon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
}

.dropdown-item.preview-item.notif{
width: 265px !important;
}


/* .modal_ajax .modal-content.membership{
  background-color: rgba(0, 0, 0, 0.192) !important;
  border: none;
  color: white;
} */

#modal_initial_membership .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
    overflow-x: hidden !important;
}


/* MEMBERSHIP PAY CONFIRM */
.img_confirm1 {
    width: 35%;
    position: absolute;
    right: 0px;
    top: 0;
    border-radius: 0px 4px 0px;
}

.img_confirm2 {
    position: absolute;
    right: 20px;
    width: 27%;
    top: 85px;
}

.img_confirm3{
position: absolute;
    bottom: 0px;
    left: 0px;
    width: 245px;
    border-radius: 0px 0px 0px 4px;
}


#mdl-img-view{
max-height: 515px;
width: auto;
}


/* RADIO  BUTTON SETTING MODULE */
.form-check.set_mod {
    position: relative;
    display: block;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    padding-left: 0;
}

.form-check.set_mod .form-check-label input[type="radio"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#9bd7ff), to(#91caff));
    background: linear-gradient(to right, #42cdcf, #0e97cc) !important;
    border-width: 0;
}

.form-check.set_mod .form-check-label input[type="radio"] + .input-helper:before {
    border: solid #95e4e1 !important;
}



.profile.tabbable-line > .nav-tabs.profile {
border: none;
    margin: 0px;
    position: relative;
    left: 0 !important;
}


/*SUBCRIBER MANAGEMEN TAB */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
border: none;
    margin: 0px;
    position: relative;
    left: 78%;
}


/* dashboard setting */
.tabbable-line > .nav-tabs.dashsetting {
border: none;
    margin: 0px;
    position: relative;
    left: 68%;
}

/*//member*/
.tabbable-line > .nav-tabs.member{
border: none;
    margin: 0px;
    position: relative;
    left: 64%;
}

.tabbable-line > .nav-tabs.member > li {
  margin-right: 5px;
  text-align: center;
  min-width: 174px;
}


.tabbable-line > .nav-tabs > li {
  margin-right: 5px;
  text-align: center;
  min-width: 100px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 100px;
  text-align: center;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs.member > li:hover {
  border-bottom: 3px solid rgb(80,144,247);
  min-width: 174px;
  text-align: center;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 100px;
    text-align: center;
}

/*member*/
.tabbable-line > .nav-tabs.member > li.active {
border-bottom: 3px solid #0E5F75;
    position: relative;
    min-width: 174px;
    text-align: center;
}



.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}


.form-check .form-check-label.cekbox {
    margin-left: 0rem !important;
}

.form-check.profile {
    position: relative;
    display: block;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    padding-left: 0;
}

#custom_input_regis{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    min-height: 427px;
    height: auto;
}

.customprofil{
padding-top: 0px !important;
padding-bottom: 0px !important;
border: none;
margin-top: -1em;
}

.kananin{
    text-align: right !important;
}
.pad-right{
padding-right: 40px;
}

.btn-loveme{
    width: 26px !important;
    height: 26px !important;
    margin-right: 1em;
}


.kanankiri30px{
    padding-left: 30px !important;
     padding-right: 30px !important;
     margin-bottom: 0.4em;
}

.mgl-1em{
    margin-left: 1.5em !important;
}

/* //img friends sugestion */
img.konco{
width: 55px;
height: 55px;
}

.btn.konco{
    width: 100px;
    padding: 4px;
    margin-top: 0.4em;
}

.fototeman{
    width: 100%;
    height: 100%;
}

.btn.konco2{
    width: 75px;
    padding: 4px;
}

.bg-absolut{
    position: absolute;
}

.center{
    margin: auto;
}
.card.konco{
    background: #ffffff57;
    border-radius: 20px;
    margin-bottom: 1em;
    width: 150px;
    min-height: 160px;
    height: auto;
     display: inline-block;
     margin-right: 1.2em;

       white-space: normal !important;
    word-break: break-word;
    vertical-align: top;
}

.close_konco{
    position: absolute;
    right: 10px;
    top: 5px;
}


.divkonco{
    height: 200px;
    width: 100%;
    overflow-x : auto;
    overflow-y : hidden;
    white-space : nowrap;
    margin-bottom : 0.5em;
}

.linkprofilesubs{
    margin-top: -0.3em;
    margin-bottom: 2em;
}

.nopaddingtop{
    padding-top: 0em !important;
}

.card .card-body.nopaddingtop {
    padding: 0rem 2.5rem !important;
}

/* /top love news */
img.lovenews{
width: 32px;
height: 32px;
margin: auto;
}

.pd-5px{
    padding: 5px;
}


.pad-1em{
    padding-bottom: 0.3em;
    padding-top: 1em;
}

.mgt-half{
    margin-top: -1em;
}

.dikanan{
    text-align: right;
    margin: auto;
}

.wd-25px{
    height: 25px;
    width: 25px;
}

.mgt-1half{
    margin-top: 1.5em;
}


.pas_tengah{
text-align: center;
margin: auto;
width: 100%;
}






/* NEWS MODULE CSS */
#news_container{
  margin:0 10vw 0 10vw;
}
.news-card{
  margin-bottom:25px;
  background:#ffff;
}
.news_content_container{
  padding: 2%;
}
.news_pic_container{
  overflow:hidden;
  width:200px;
  height:175px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background-color: rgb(204, 208, 212);
}

.imgsub-cont{
    height: 110px;
    overflow: hidden;
    position: relative;
}

/* .card-dashub{
    position:absolute;
    transform:translate(0, -50%);
} */

.picimg_news{
    height: 100%;
    width: 100%;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.news-title{
    margin: 0 auto;
    color:#62d0d0;
    margin-top: 0.5em;
  }
  .author_name{
    font-style: italic;
  }

  .img-mini {
    width: 50px !important;
    height: 50px !important;
}

.img-profile-friends{
    height: 100px;
    width: auto;
}

.news-body{
    margin: 0 auto;
  }

  .img-mid{
    width:100%;
  }
.news-info{
  margin: 0 auto;
    text-align: center;
    padding:2%;
}
.news-content{
  padding: 2%;
}

.news_pic_cont{
  overflow:hidden;
  width:200px;
  height:180px;
}
.news_pic_dash{
  overflow:hidden;
  width:Auto;
  height:180px;
}

.news_pic{
  width:75%;
  padding:2% 10% 2% 10%;
  border-radius:3%;
}

.news-img-upload{
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
        height:auto;
}


/* //SETTING NAV BAR  */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item.langimg {
    margin-bottom: 0;
    padding: 5px 10px 5px 20px !important;
    cursor: pointer;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item.langimg:hover {
   color: black !important;
}


.body250{
    min-height: 250px;
    padding-left: 5%;
    padding-right: 5%;
}

.mod-header{
    padding: 5%;
    padding-bottom: 0px !important;
}


.img-mdl-bottom{
    position: absolute;
    width: 175px;
    height: auto;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 0px 4px;
    opacity: 0.3;
}

.img-mdl-top{
    position: absolute;
    width: 125px;
    height: auto;
    top: 0px;
    right: 0px;
    border-radius: 4px 0px;
    opacity: 0.3;
}

ul.submember li {
    line-height: 1.4 !important;
}


.img-stretch{
    width: auto;
    height: 170px;
    position: absolute;
    right: 0;
}

.card .card-body.nopadding{
    padding: 1rem !important;
}

.nopadding{
    padding: 0px;
}















/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
#img-dash2 {
    width: 145px;
    position: absolute;
    top: -33px;
    right: 10px;
}
.card-body.setnotifdash{
    margin-top: 3em;
}

.mpad-0{
    padding: 0em;
    font-size: 20px;
}


}
/* END - MEDIA 600PX */







/*XL Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
