body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #fffcaf,
        #ffe7a7,
        #ffd4aa,
        #ffc3b2,
        #ffb6bc
    );
}

* {
    font-family: "SF Pro Display Regular" !important;
}

@font-face {
    font-family: "SF Pro Display Regular";
    src: url("/assets/font/sf_pro.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

/* //modal scroll */
.modal-body::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.modal-body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

.modal-body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #faf9da,
        #e0fcfa,
        #def0f3,
        #c8cfd3,
        #ded5e6
    );
}

#logo_fitur_module {
    width: 40px;
    position: relative;
    left: 80%;
}

#mdl-img-click .modal-content {
    background-color: #ffffff00 !important;
    border: none;
}

#tab_transaction_param .card .card-body {
    padding: 1.5rem 1.5rem !important;
}
#tab_transaction_param {
    border: 1px solid #d9d9d9;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}
.page-header {
    margin: 0 0 1rem 0;
}

.sidebar .nav .nav-item {
    padding: 0 1.25rem !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.content-wrapper {
    padding: 1rem 1.5rem !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.bg-grey {
    background-color: #ebedf2;
}

.redhide {
    display: none;
    color: red;
    font-size: 12px;
}

.text-wrap{
    white-space:normal !important;
    word-break: break-word;
  vertical-align: top;
}
.width-500{
    width:500px !important;
}
.width-450{
    width:450px !important;
}
.width-400{
    width:400px !important;
}
.width-300{
    width:300px !important;
}
.width-200{
    width:200px !important;
}
.width-250{
    width:250px !important;
}

.width-100{
    width:100px !important;
}
.card .card-body.member {
    padding: 1rem 1rem !important;
}

.card .card-body.memberku {
    padding: 1rem 1rem;
}

.card-member {
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.stretch-card > .card.member {
    width: 100%;
    height: auto;
    min-height: 120px;
    min-width: 240px;
}

.th-center {
    text-align: center !important;
}

.card .card-body.member {
    padding: 1rem 1rem !important;
}

.grid-margin.card-member {
    margin-bottom: 0em !important;
}

.card .card-body .card-member {
    padding: 1.5rem 1.5rem !important;
}

.btn-ready-card {
    background: linear-gradient(106deg, #fc6076 -2.66%, #ff9a44 102.89%);
    border-radius: 15px;
    font-size: 0.65rem !important;
}
.bg-gradient-blue {
    background: linear-gradient(106.53deg, #91e4e0 0%, #80d8d4 56.6%);
}

#form_verify_admincom {
    padding: 0.5em;
}

.putih {
    background-color: #ffffff !important;
}
.text-wrap {
    white-space: normal;
}
.width-200 {
    width: 200px;
}

/* //PAGINATION DATATABLE */
.pagination {
    font-size: 11px !important;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #0e5f75 !important;
    border: none !important;
    border-radius: 10px !important;
    min-width: 30px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
    border-radius: 10px !important;
}

.page-item:last-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.page-item.disabled .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}
.page-item:first-child .page-link {
    background-color: #f3f2f7 !important;
    border: none !important;
    border-radius: 10px !important;
}

.pagination a.page-link {
    border: none !important;
    color: rgb(88, 88, 88) !important;
    font-weight: bold;
}
.pagination a.page-link {
    border: none !important;
    border-radius: 10px !important;
    text-align: center !important;
}

.paginate_button.page-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
 div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 8px !important;
}

/* div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    font-size: 14px !important;
}

.btn, .btn-group.open .dropdown-toggle, .btn:active, .btn:focus, .btn:hover, .btn:visited, a, a:active, a:checked, a:focus, a:hover, a:visited, body, button, button:active, button:hover, button:visited, div, input, input:active, input:focus, input:hover, input:visited, select, select:active, select:focus, select:visited, textarea, textarea:active, textarea:focus, textarea:hover, textarea:visited {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px !important;
    color: #646464 !important;
} */

/* //end-PGINATION DATATBLE */


#modal_detail_payment_all_super tbody{
    font-size: 10px !important;
}


/* TAB DETAIL PAYMENT MANAGEMENT */
.tabbable-line.sub_pay_super{
    margin-top: -1.3em;

}
.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super {
    border: none;
    margin: 0px;
    position: relative;
    left: 62%;
}


#img_detail_payment_super{
width:85px;
height:85px;
 background-color: #a7a7a7a7;
 margin-bottom: 0.5em;
}


.div-info-payment{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1em;
}


.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super > li.active {
    border-bottom: 3px solid #0e5f75;
    position: relative;
    min-width: 50px !important;
    text-align: center;
}

.tabbable-line.sub_pay_super > .nav-tabs.sub_pay_super > li {
    margin-right: 5px;
    text-align: center;
    min-width: 50px !important;
}
/* END - DETAIL */

.tabbable-line > .nav-tabs.detailsubpay {
    border: none;
    margin: 0px;
    position: relative;
    left: 55% !important;
}
.img-mini {
    width: 40px;
    height: auto;
}

.mgb-1 {
    margin-bottom: 1.5em;
}

.dashone {
    color: #0e5f75;
    margin-top: 1em;
}

.card .card-body.sumari {
    padding: 1rem 1rem;
}

select.form-control {
    color: #7b7b7b !important;
}

.btn-light {
    color: #afafaf;
}

.tabbable-line.tabreport > .nav-tabs {
    border: none;
    margin: 0px;
    position: relative;
    left: 57% !important;
}

.tabbable-line.payment > .nav-tabs {
    border: none;
    margin: 0px;
    position: relative;
    left: 90% !important;
}
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#mdl-img-click .modal-header {
    border: none;
    background-color: #f2edf300;
    padding: none;
}
#mdl-img-click .modal-content {
    border: none;
    background-color: #f2edf300;
}

.btn-tosca {
    background: linear-gradient(125.96deg, #96deda 0%, #50c9c3 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-abu {
    background: linear-gradient(125.96deg, #ded0d0 0%, #c3cdd6 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
    border: none;
}
.btn-ijo {
    background: linear-gradient(125.96deg, #0fb34e 0%, #90b466 56.6%);
    color: white;
    min-width: 15%;
    border-radius: 10px;
}

.btn-oren {
    background: linear-gradient(108.22deg, #fc6076 -2.66%, #ff9a44 102.89%);
    color: white;
    border-radius: 10px;
}

.tebal {
    font-weight: bold;
}

.btn-teal {
    background-color: #0e5f75;
    border-radius: 6px;
    color: white;
}

.btn-birumuda {
    background: linear-gradient(117.13deg, #96deda 0%, #50c9c3 56.6%);
    border-radius: 6px;
    border: none;
    color: white;
}

.input-abu {
    border-radius: 10px !important;
    background-color: #efefef !important;
    outline: none !important;
}

select.form-control .input-abu {
    outline: none !important;
}

.dashboardcode-bsmultiselect ul.form-control {
    border-radius: 10px !important;
    background-color: #efefef !important;
    outline: none !important;
        padding: 0.5rem 1.375rem;
}

.dashboardcode-bsmultiselect button.close {
font-size: 1.5em;
line-height: 0.9em;
float: none;
margin-left: 3px !important;
margin-right: 5px !important;
color: #bdbdbd !important;
}

.dashboardcode-bsmultiselect button.close:hover {
color: #c97474 !important;
}

.dashboardcode-bsmultiselect li.badge span {
    font-size: 14px !important;
}

.modal-content {
    background-color: #ffffff !important;
    border: none;
}

/*///// NAV FILTER //////////*/

.nav-tabs.filter {
    width: 100% !important;
    padding: 0px 12px;
    border-bottom: none;
}

.nav-tabs .nav-link.disabled {
    min-width: 50%;
    color: #bdbdbd !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #018c85 !important;
    background-color: transparent;
    border-color: transparent transparent #4f4f4f;
    border-bottom: 2.5px solid !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 2px solid !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #bdbdbd;
    border-color: #bdbdbd;
    font-size: 14px;
    text-align: center !important;
}
/*END-NAV*/




.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 0.2rem !important;
}

#md_all_aktifkan_module .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.cputih {
    color: rgb(102, 98, 98);
}

.cwhite {
    color: white;
}

.cdarkgrey {
    color: #535353;
}

.clight {
    color: #bdbdbd !important;
}

.cteal {
    color: #0e5f75;
}

.cteal2 {
    color: #4596ad;
}

.coren {
    color: #ff9a44;
}
.cgrey2 {
    color: #4d4c4c !important;
}

.cgrey1 {
    color: #828282;
}

.cgrey {
    color: #8c8c8c;
}

.cgreyblue{
    color: #9bb4bb;
}

.cblue {
    color: #50b7b9;
}

.cred {
    color: red;
}

.cgreen {
    color: #27ae60;
}

.s18 {
    font-size: 16px;
}

.s16 {
    font-size: 16px;
}

.s15 {
    font-size: 15px;
}

.s12 {
    font-size: 12px;
}

.s11 {
    font-size: 11px;
}

.s10 {
    font-size: 10px;
}

.s9 {
    font-size: 9px;
}

.s13 {
    font-size: 13px;
}

.s14 {
    font-size: 14px;
}
.s19 {
    font-size: 19px;
}

.s20 {
    font-size: 20px;
}

.s25 {
    font-size: 25px;
}

.s30 {
    font-size: 30px;
}
.s32 {
    font-size: 32px;
}
.s35 {
    font-size: 35px;
}

/* /////////MULTI SELECT//////// */

/* /////////MULTI SELECT//////// */




/* btn datatble export  */
button.dt-button,
div.dt-button,
a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em !important;
    margin-bottom: 0.333em !important;
    padding: 0.3em 0.5em !important;
    /* border: 1px solid #dcdcdc !important; */
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer;
    font-size: 0.88em;
    line-height: 1em !important;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(
        106.53deg,
        #e6e9ea 0%,
        #e4f2f7 56.6%
    ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
}

.btn-ready-card {
    background: linear-gradient(106deg, #fc6076 -2.66%, #ff9a44 102.89%);
    border-radius: 15px;
    font-size: 0.65rem !important;
    color: white;
}

.bg-gradient-blue {
    background: linear-gradient(106.53deg, #91e4e0 0%, #80d8d4 56.6%);
}

.melengkung15px {
    border-radius: 15px !important;
}

.melengkung10px {
    border-radius: 10px !important;
}

.melengkung8px {
    border-radius: 8px !important;
}

.melengkung6px {
    border-radius: 6px !important;
}

.detilhref {
    border-radius: 20px !important;
    width: 30px !important;
    height: 30px !important;
}

.mdi.matadetail {
    position: relative !important;
    top: 7px !important;
}

.round-label {
    min-width: 80px;
    border-radius: 12px;
    color: white;
}

.dash-img-profil {
    height: 35%;
    width: 35%;
    min-height: 90px;
    min-width: 90px;
}

.circle.subpay{
    position: relative !important;
    margin-bottom: 1em;
}

.label-oren {
    background: linear-gradient(106deg, #fc6076 -2.66%, #ff9a44 102.89%);
    border-radius: 10px;
}

.bg-hijau {
    background-color: #cbe8b9;
}

.bg-ijo {
    background: linear-gradient(106deg, #43b95f -2.66%, #b3e273 102.89%);
    border: none;
}

.bg-merah {
    background-color: #ffd6d6;
}

.bg-kuning {
    background-color: #fcf5b0;
}

.bg-abu {
    background-color: #cacaca;
}

.bg-biru {
    background-color: #c1e4e3;
}
.bg-biru {
    background-color: #c1e4e3;
}
.bg-tosca {
    background-color: #50b7b9;
}

/*//IMAGE UPLOAD BUNDER - FILE BROWSER*/
.img-upload-profil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.profile-pic {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    display: block;
}

.file-upload {
    display: none;
}

.bunder-ring {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border: 8px solid #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}


.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 6px solid #efefef;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img .profile-pic {
    max-width: 100%;
    height: auto;
}
.p-image {
    left: 75px;
    top: 60px;
    color: #666666;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}
/* ///end-file upload */

.img-card.module {
    width: 40px;
    height: 40px;
}

/* TREE CHECKBOX */
input[type="checkbox"] {
    vertical-align: middle !important;
}

.tree {
    margin: auto;
    margin-top: 3%;
    /* width: 80%; */
    list-style-type: none;
}

.tree ul {
    display: none;
    margin: 4px auto;
    margin-left: 6px;
    border-left: 1px dashed #dfdfdf;
    list-style-type: none;
}

.tree li {
    padding: 0px 15px;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
}

.tree li:first-child {
    border-radius: 3px 3px 0 0;
}

.tree li:last-child {
    border-radius: 0 0 3px 3px;
}

.tree .active,
.active li {
    background: #efefef;
}

.tree label {
    cursor: pointer;
}

.tree input[type="checkbox"] {
    margin: -10px 6px 0 0px;
}

.has > label {
    color: #000;
}

.tree .total {
    color: #50c9c3;
}
/* END-TREE CHECKBOX */

/*SUBCRIBER MANAGEMEN TAB */
.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    position: relative;
    left: 78%;
}

/*//member*/
.tabbable-line > .nav-tabs.member {
    border: none;
    margin: 0px;
    position: relative;
    left: 64%;
}

.tabbable-line > .nav-tabs.member > li {
    margin-right: 5px;
    text-align: center;
    min-width: 174px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 5px;
    text-align: center;
    min-width: 100px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    border-bottom: 3px solid rgb(80, 144, 247);
    min-width: 100px;
    text-align: center;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs.member > li:hover {
    border-bottom: 3px solid rgb(80, 144, 247);
    min-width: 174px;
    text-align: center;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs.member > li:hover {
    border-bottom: 3px solid rgb(80, 144, 247);
    min-width: 174px;
    text-align: center;
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 3px solid #0e5f75;
    position: relative;
    min-width: 100px;
    text-align: center;
}

/*member*/
.tabbable-line > .nav-tabs.member > li.active {
    border-bottom: 3px solid #0e5f75;
    position: relative;
    min-width: 174px;
    text-align: center;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

#img_logo_pricing {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: -1em;
}
