body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #fffcaf, #ffe7a7, #ffd4aa, #ffc3b2, #ffb6bc);
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d9d9d9 !important;
    color: #ffffff !important;
}
.page-header{
  margin: 0 0 1rem 0;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: auto !important;
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.content-wrapper{
	padding: 1rem 1.5rem !important;
}

.form-group{
	margin-bottom: 0.5rem !important;
}

.bg-grey{
	background-color: #ebedf2;
}

.redhide{
	display: none;
	color: red;
	font-size: 12px;
}

#form_verify_admincom{
	padding: 0.5em;
}

.img-mini{
	width: 40px;
	height: auto;
}


select.form-control {
	color: #7b7b7b !important;
}


.btn-light{
color: #afafaf;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


#mdl-img-click .modal-header {
	border: none;
	background-color: #f2edf300;
	padding: none;
}
#mdl-img-click .modal-content {
	border: none;
	background-color: #f2edf300;
}
